{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/includes/tables.css' %}">
  <link rel="stylesheet" href="{% static 'css/energy/energy_companies.css' %}">
{% endblock %}

{% block content %}
 <div class="container-xl">
    {% include "energy/includes/energy_companies_filter.html" %}

    <div class="card">
      <div class="table-wrapper">
        <table class="custom-table {{ selected.type }}">
          <thead>
            <tr>
              <th data-col="number">Номер</th>
              <th data-col="company">Сетевая компания</th>
              <th data-col="declarant">Юр. лица</th>
              <th data-col="status">Статус</th>
              <th data-col="filial">Филиал</th>
              <th data-col="pole">Шифр опоры</th>
              <th data-col="object_adress">Адрес объекта</th>
              {% if selected.type == 'claims' %}
                <th data-col="request_date">Дата заявки</th>
              {% else %}
                <th data-col="request_date">Дата обращения</th>
              {% endif %}
              <th data-col="status_date">Дата статуса</th>
            </tr>
          </thead>
          <tbody>
            {% for request in company_requests %}
              <tr>
                <td>
                  {% if selected.type == 'claims' %}
                    <a href="{% url 'energy:claim_detail' request.id %}" class="link">
                      {% if request.number %}
                        {{ request.number }}
                      {% else %}
                        {{ request.inner_claim_number|default:"Без номера" }}
                      {% endif %}
                    </a>
                  {% else %}
                    <a href="{% url 'energy:appeal_detail' request.id %}" class="link">
                      {% if request.number %}
                        {{ request.number }}
                      {% else %}
                        {{ request.inner_claim_number|default:"без номера" }}
                      {% endif %}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if request.company_link %}
                    <a href="{{ request.company_link }}" class="success-company-link link" target="_blank">
                      {{ request.company.name }}
                    </a>
                  {% else %}
                    <span class="bad-company-link">{{ request.company.name }}</span>
                  {% endif %}
                </td>
                <td>{{ request.declarant.name }}</td>
                <td>
                  {{ request.latest_status_name|default:"—" }}
                </td>
                <td>{{ request.filial|default:"—" }}</td>
                <td>
                  {% if request.pole %}
                    <span class="copy-text" data-text="{{ request.pole }}">{{ request.pole }}</span>
                  {% else %}
                    —
                  {% endif %}
                </td>
                <td>{{ request.object_adress|default:"—"|truncatechars:64 }}</td>
                {% if selected.type == 'claims' %}
                  <td>{{ request.claim_date|default:"—" }}</td>
                {% else %}
                  <td>{{ request.appeal_date|default:"—" }}</td>
                {% endif %}
                <td>{{ request.latest_status_date|default:"—" }}</td>
              </tr>
            {% empty %}
              <tr><td colspan="9" class="empty">Нет данных</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if page_obj.has_other_pages %}
      {% include "includes/paginator.html" %}
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
