# Виртуальные окружения
venv/
env/
.venv/

# Кэш и байткод Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Git и IDE
.git/
.github/
.gitignore
.idea/
.vscode/

# Локальные базы
db.sqlite3
db.sqlite3.bak

# Среда окружения
.env

# Медиа, логи и данные (монтируются как volume/bind)
media/
logs/
*.log
data/

# Дополнительно (если вдруг появится)
*.bak