SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

0 0 * * * root /usr/local/bin/python /app/manage.py delete_unknown_files >> /app/logs/cron.log 2>&1
0 20 * * * root /usr/local/bin/python /app/manage.py update_data_from_ts >> /app/logs/cron.log 2>&1
