.card {
    border-left: var(--space-xs) solid var(--gray-color);
}

.error-card {
    border-color: var(--red-color);
}
.warning-card {
    border-color: var(--yellow-color);
}
.info-card {
    border-color: var(--blue-color);
}

.card-body.card-bg {    
    display: flex;
    justify-content: space-between;
    height: 180px;
    gap: var(--space-md);
}

.card-bg-content {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xs);
}

.error-message {
    margin: 0;
}

.card-title {
    color: var(--add-color);
}

.error-card .card-title {
    color: var(--red-color);
}
.warning-card .card-title {
    color: var(--yellow-color);
}
.info-card .card-title {
    color: var(--blue-color);
}

.card-bg-image-wrapper {
    flex: 0 0 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: calc(var(--space-md) * -1);
    border-top-left-radius: var(--radius-md);
    border-bottom-left-radius: var(--radius-xxl);
    background-color: var(--gray-color);
}

.error-card .card-bg-image-wrapper {
    background-color: var(--red-color);
}
.warning-card .card-bg-image-wrapper {
    background-color: var(--yellow-color);
}
.info-card .card-bg-image-wrapper {
    background-color: var(--blue-color);
}

.card-bg-img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 0.9;
    pointer-events: none;
    display: block;
}
