/* CSS Level 2.1, выше может игнорироваться в некоторых почтовиках */

.footer {
  margin-top: 18px;
  border-top: 1px solid #e2e3e6;
  padding-top: 18px;
  text-align: center;
}

.footer-logo {
  width: 80px;
  opacity: 0.9;
}

.footer-text {
  margin: 8px 0 0 0;
  font-size: 12px;
  color: #2e2e33;
}

.footer-link {
  color: #5a7fff;
  text-decoration: none;
}