{% with fname=att.file_name|lower %}
  {% with last_4_chars=fname|slice:"-4:" %}
  {% with last_5_chars=fname|slice:"-5:" %}
  <li class="attachment-item">
    {% if last_4_chars == ".jpg" or last_4_chars == ".png" or last_4_chars == ".gif" or last_4_chars == ".bmp" or last_4_chars == ".svg" or last_5_chars == ".jpeg" or last_5_chars == ".webp" or last_5_chars == ".jfif" %}
      <!-- ДЛЯ КАРТИНОК -->
      <div class="attachment-file image-preview-trigger">
      <img src="{{ att.protected_url }}"
          alt="{{ att.file_name }}"
          class="attachment-preview">

        <p class="attachment-name">{{ att.file_name }}</p>
      </div>

    {% else %}
      <!-- ОБЫЧНЫЕ ФАЙЛЫ -->
      <a href="{{ att.protected_url }}" target="_blank" class="attachment-file">

        <span class="attachment-icon
          {% if fname|slice:"-4:" == ".pdf" %}pdf
          {% elif fname|slice:"-5:" == ".xlsx" %}xlsx
          {% elif fname|slice:"-4:" == ".xls" %}xlsx
          {% elif fname|slice:"-7:" == ".gsheet" %}gsheet
          {% elif fname|slice:"-5:" == ".docx" %}docx
          {% elif fname|slice:"-4:" == ".doc" %}docx
          {% elif fname|slice:"-5:" == ".gdoc" %}gdoc
          {% elif fname|slice:"-5:" == ".pptx" %}pptx
          {% elif fname|slice:"-4:" == ".ppt" %}pptx
          {% elif fname|slice:"-4:" == ".txt" %}txt
          {% elif fname|slice:"-5:" == ".json" %}json
          {% elif fname|slice:"-4:" == ".csv" %}csv
          {% elif fname|slice:"-5:" == ".html" %}html
          {% elif fname|slice:"-4:" == ".zip" %}zip
          {% elif fname|slice:"-3:" == ".7z" %}zip
          {% elif fname|slice:"-3:" == ".gz" %}zip
          {% elif fname|slice:"-4:" == ".rar" %}rar
          {% elif fname|slice:"-4:" == ".tar" %}rar
          {% elif fname|slice:"-4:" == ".mp3" %}mp3
          {% elif fname|slice:"-4:" == ".mp4" %}video
          {% elif fname|slice:"-4:" == ".mov" %}video
          {% elif fname|slice:"-4:" == ".avi" %}video
          {% elif fname|slice:"-4:" == ".mkv" %}video
          {% elif fname|slice:"-5:" == ".webm" %}video
          {% elif fname|slice:"-5:" == ".vsdx" %}file
          {% elif fname|slice:"-4:" == ".vsd" %}file
          {% elif fname|slice:"-4:" == ".odt" %}file
          {% elif fname|slice:"-4:" == ".ods" %}file
          {% elif fname|slice:"-4:" == ".odp" %}file
          {% elif fname|slice:"-5:" == ".epub" %}file
          {% elif fname|slice:"-8:" == ".gslides" %}file
          {% elif fname|slice:"-6:" == ".gdraw" %}file
          {% elif fname|slice:"-6:" == ".gform" %}file
          {% elif fname|slice:"-4:" == ".rtf" %}file
          {% elif fname|slice:"-4:" == ".bz2" %}file
          {% elif fname|slice:"-4:" == ".mpp" %}file
          {% elif fname|slice:"-4:" == ".mdb" %}file
          {% elif fname|slice:"-4:" == ".wav" %}file
          {% elif fname|slice:"-4:" == ".ogg" %}file
          {% elif fname|slice:"-4:" == ".eml" %}email
          {% else %}file{% endif %}">
        </span>

        <p class="attachment-name">{{ att.file_name }}</p>
      </a>
    {% endif %}

  </li>
  {% endwith %}
  {% endwith %}
{% endwith %}