{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/table_filter.css' %}">
{% endblock %}

<form method="get" class="table-filter-form" id="filter-form">
  <div class="left-part">
    <div class="select-wrapper">
      <select name="folder" id="folder-select" class="select tooltip" data-title="Email папка">
        <option value="" {% if not selected.folder %}selected{% endif %}>Папка: Все</option>
        {% for f in folders %}
          <option value="{{ f }}" {% if selected.folder == f %}selected{% endif %}>Папка: {{ f }}</option>
        {% endfor %}
      </select>
    </div>

    <input
      type="email"
      name="email_from"
      value="{{ selected.email_from|default:'' }}"
      placeholder="От кого"
      aria-label="Фильтр отправителя"
      id="email-from-input"
      maxlength="64"
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      class="tooltip"
      data-title="Адрес эл. почты"
    />

  </div>
    
  <div class="right-parts">
    <div class="select-wrapper">
      <select name="per_page" id="per-page" class="select tooltip" data-title="Кол-во писем на странице">
        {% for size in page_size_choices %}
        <option value="{{ size }}" {% if selected.per_page == size %}selected{% endif %}>Показать: {{ size }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="button" id="reset-filters" class="btn btn-secondary tooltip" data-title="Сбросить фильтры">
      <i class="bx bx-x-circle"></i>
    </button>
    {% if selected.sort == "asc" %}
    <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="desc" data-param="sort_emails" data-cookie="sort_emails" data-title="Сначала новые">
      <i class='bx bx-chevrons-down'></i>
    </button>
    {% else %}
    <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="asc" data-param="sort_emails" data-cookie="sort_emails" data-title="Сначала старые">
      <i class='bx bx-chevrons-up'></i>
    </button>
    {% endif %}
    <button type="submit" class="btn btn-primary tooltip" data-title="Применить фильтр">
      <i class="bx bx-filter"></i>
    </button>
  </div>

  <input type="hidden" name="q" value="{{ search_query }}" id="filter-hidden-q">
</form>

{% block extra_js %}
<script src="{% static 'js/emails/search_filter.js' %}"></script>
<script src="{% static 'js/save_elements_per_page.js' %}"></script>
<script src="{% static 'js/reset_tables_filter.js' %}"></script>
<script src="{% static 'js/sort_table.js' %}"></script>
{% endblock %}