{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/table_filter.css' %}">
{% endblock %}

<form method="get" class="table-filter-form" id="filter-form">
  <div class="left-part">
    <div class="multiple-select-wrapper" id="folder-select">
      <div class="dropdown-trigger" data-filter-name="Папка">
        <span class="selected-label">Папка</span>
        <span class="arrow-icon">▼</span>
      </div>

      <div class="dropdown-menu" id="folder-dropdown-menu">
        <div class="dropdown-options">
          {% for folder in folders %}             
              <label class="option-item {% if folder.name in selected.folder %}is-selected{% endif %}" 
                     data-value="{{ folder.name }}">
                <i class="bx bx-check"></i>
                <span>{{ folder.description|default:folder.name }}</span>
              </label>
          {% endfor %}
        </div>
      </div>

        <select name="folder" id="folder-select-hidden" style="display: none;" multiple>
          {% for folder in folders %}
            <option value="{{ folder.name }}" {% if folder.name in selected.folder %}selected{% endif %}>
              {{ folder.description|default:folder.name }}
            </option>
          {% endfor %}
        </select>
    </div>

    <input
      type="email"
      name="email_from"
      value="{{ selected.email_from|default:'' }}"
      placeholder="От кого"
      aria-label="Фильтр отправителя"
      id="email-from-input"
      maxlength="64"
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      class="tooltip"
      data-title="Адрес эл. почты"
    />

    <div>
      <input 
        type="datetime-local"
        name="email_date_from" 
        id="email-date-from" 
        max="{{ max_datetime }}"
        value="{{ selected.date_from|default:'' }}" 
        class="tooltip" 
        data-title="Дата письма ОТ">
      <input 
        type="datetime-local"
        name="email_date_to" 
        id="email-date-to" 
        max="{{ max_datetime }}"
        value="{{ selected.date_to|default:'' }}" 
        class="tooltip" 
        data-title="Дата письма ДО">
    </div>

  </div>
    
  <div class="right-parts">
    <div class="select-wrapper">
      <select name="per_page" id="per-page" class="select tooltip" data-title="Кол-во писем на странице">
        {% for size in page_size_choices %}
        <option value="{{ size }}" {% if selected.per_page == size %}selected{% endif %}>Показать: {{ size }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="button" id="reset-filters" class="btn btn-secondary tooltip" data-title="Сбросить фильтры">
      <i class="bx bx-x-circle"></i>
    </button>
    {% if selected.sort == "asc" %}
    <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="desc" data-param="sort_emails" data-cookie="sort_emails" data-title="Сначала старые">
      <i class='bx bx-chevrons-down'></i>
    </button>
    {% else %}
    <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="asc" data-param="sort_emails" data-cookie="sort_emails" data-title="Сначала новые">
      <i class='bx bx-chevrons-up'></i>
    </button>
    {% endif %}
    <button type="submit" class="btn btn-primary tooltip" data-title="Применить фильтр">
      <i class="bx bx-filter"></i>
    </button>
  </div>

  <input type="hidden" name="q" value="{{ search_query }}" id="filter-hidden-q">
</form>

{% block extra_js %}
<script>
    const filtersConfig = [
        { id: 'folder-select-hidden', cookieName: 'folder', searchFieldName: 'folder', type: 'multi_select' },
        { id: 'email-from-input', cookieName: 'email_from', searchFieldName: 'email_from', type: 'email' },
        { id: 'email-date-from', cookieName: 'email_date_from', searchFieldName: 'email_date_from', type: 'datetime-local' },
        { id: 'email-date-to', cookieName: 'email_date_to', searchFieldName: 'email_date_to', type: 'datetime-local' },
        { id: 'per-page', cookieName: 'per_page_emails', searchFieldName: 'per_page', type: 'single_select', skipOnReset: true },
    ];
</script>
<script src="{% static 'js/universal_filters.js' %}"></script>
<script src="{% static 'js/sort_table.js' %}"></script>
<script src="{% static 'js/multiple_select.js' %}"></script>
{% endblock %}