.attrs-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.attr-item {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: var(--space-md);
    padding: var(--space-sm) 0;
    border-bottom: 1px dashed var(--extra-color);
}

.attr-name {
    color: var(--color);
    font-size: var(--font-sm);
    font-weight: 500;
}

.attr-value {
    color: var(--add-color);
    font-size: var(--font-sm);
}

.links-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
}

.entity-link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xxs);

    padding: var(--space-xs);
    border-radius: var(--radius-sm);

    font-size: var(--font-sm);
    font-weight: 500;
    text-decoration: none;

    color: var(--priority-color);
    background-color: var(--add-background-color);

    border: 1.5px solid var(--background-color);

    transition: background-color var(--transition-value),
                color var(--transition-value),
                border-color var(--transition-value);
}

.entity-link:hover {
    border-color: var(--add-background-color);
}

.appeal-link {
    color: var(--red-color);
}