.card-body.card-bg {
    display: flex;
    justify-content: space-between;
    height: 180px;
    gap: var(--space-md)
}

.card-bg-content {
    flex: 1 1 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-xs)
}

.error-message {
    margin: 0;
}

.card-bg-image-wrapper {
    flex: 0 0 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-left: 1px solid var(--extra-color);
    margin-right: calc(var(--space-md) * -1);
}

.card-bg-img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 0.8;
    pointer-events: none;
    display: block;
}
