.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--space-xl);
  width: 100%;
  margin: 0;
  padding: 0;
  justify-items: center;
}

.user-card {
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  border-radius: var(--radius-lg);
  padding: var(--space-md);
  box-shadow: 0 0 var(--space-sm) var(--extra-color);
  transition: transform var(--transition-value), box-shadow var(--transition-value);
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  position: relative;
  gap: var(--space-md);
}

.user-card.online {
  border-left: var(--space-xs) solid var(--priority-color);
}

.user-card.offline {
  border-left: var(--space-xs) solid var(--red-color);
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  flex: 1;
  justify-content: space-between; 
}

.user-role {
  font-size: var(--font-md);
  font-weight: 500;
  margin: 0;
  color: var(--priority-color);
}

.user-name {
  font-size: var(--font-md);
  margin: 0;
}

.user-email {
  font-size: var(--font-sm);
  color: var(--gray-color);
  margin: 0;
  word-break: break-word;
  transition: color var(--transition-value);
}

.user-email:hover {
  color: var(--yellow-color);
  text-decoration: underline;
}

.user-schedule {
  font-size: var(--font-sm);
  color: var(--gray-color);
  line-height: 1.4;
  margin-block-end: 0;
}

.user-schedule strong {
  font-weight: 600;
}

.user-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  justify-content: space-between;
}

.user-avatar img {
  width: 102px;
  height: 102px;
  border-radius: var(--radius-xl);
  object-fit: cover;
  box-shadow: 0 0 var(--space-sm) var(--extra-color);
}

.avatar-placeholder {
  width: 102px;
  height: 102px;
  border-radius: var(--radius-xl);
  background-color: var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: var(--font-xl);
  color: var(--background-color);
}

.user-actions .btn {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-sm);
  border-radius: var(--radius-md);
  width: 76px;
}

.error-message {
  text-align: center;
}

@media (max-width: 768px) {
  .user-card {
    align-items: center;
    max-width: calc(100% - 36px);
  }

  .user-avatar img,
  .avatar-placeholder {
    width: 84px;
    height: 84px;
  }

  .user-actions .btn {
    width: 84px;
  }

}
