{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/about.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <h1 class="about-title">О проекте</h1>

      <section class="about-section">
        <p class="card-text">
          Данный веб-сервис разработан для компании <a href="https://www.newtowers.ru/" target="_blank" class="ts-company">ООО «Новые Башни»</a> и предназначен
          для автоматизации процессов диспетчерской службы.  
          Он интегрирован с корпоративной электронной почтой и системой <a href="https://tracker.yandex.ru/" target="_blank" class="yt-company">Yandex Tracker</a>,
          что позволяет обрабатывать входящие письма, создавать инциденты и контролировать выполнение задач.
        </p>
      </section>

      <section class="about-section">
        <div class="contacts">
          <table>
            <colgroup>
              <col style="width: 60%;">
              <col style="width: 40%;">
              <col style="width: 60%;">
              <col style="width: 40%;">
            </colgroup>
            <tr>
              <th colspan="2">Техническая поддержка</th>
              <th colspan="2">Диспетчерская служба</th>
            </tr>
            <tr>
              <td class="contact-cell">
                <span class="email-link copy-text" data-text="a.choliy@newtowers.ru">a.choliy@newtowers.ru</span>
              </td>
              <td class="contact-name">Чолий Александр</td>
              <td class="contact-cell">
                <span class="email-link copy-text" data-text="vi.bogomolov@newtowers.ru">vi.bogomolov@newtowers.ru</span>
              </td>
              <td class="contact-name">Богомолов Виталий</td>
            </tr>
          </table>
        </div>
      </section>

    </div>
  </div>
</div>

{% endblock %}