/* CSS Level 2.1, выше может игнорироваться в некоторых почтовиках */

.body {
  margin: 0;
  padding: 0;
  background-color: #e1e4eb;
  font-family: Arial, sans-serif;
  color: #2e2e33;
}

.wrapper {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(67,109,255,0.25);
  padding: 32px 28px 36px 28px;
}

h2 {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #1b1b1f;
}

p {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.6;
}

.text-muted {
  color: #98989a;
}

.button-container {
  margin: 28px 0 36px 0;
  text-align: right;
}

.btn-wrapper {
  border-radius:6px;
  background-color: #5a7fff;
}

.btn-error {
  background-color: #d93f3f;
}

.btn {
  display:block;
  padding: 6px 18px;
  font-size:14px;
  color:#f4f5f7;
  text-decoration:none;
  text-align:center;
}

.btn-wrapper:hover {
  opacity: 0.9;
}
