{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/core/errors.css' %}">
{% endblock %}

{% block title %}Ошибка 400{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card error-card">
    <div class="card-body card-bg">
      <div class="card-bg-content">
        <p class="card-title">Неверный запрос: 400</p>
        
        <p class="card-text">
          Ваш запрос был некорректен или повреждён.
        </p>
        
        <p class="card-text">
          <a href="{% url 'incidents:index' %}" class="link-text">Вернуться на главную</a>
        </p>
      </div>
      <div class="card-bg-image-wrapper">
        <img src="{% static 'img/errors/400.png' %}" class="card-bg-img" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}