{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/core/errors.css' %}">
{% endblock %}

{% block title %}Ошибка 404{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card info-card">
    <div class="card-body card-bg">
      <div class="card-bg-content">
        <p class="card-title">Страница не найдена: 404</p>

        <p class="card-text">
          {% if path %}
          Упс! Страницы с адресом <code>{{ path }}</code> не существует.
          {% else %}
          Упс! Страницы с текущим адресом не существует.
          {% endif %}
        </p>

        <p class="card-text">
          <a href="{% url 'incidents:index' %}" class="link-text">Вернуться на главную</a>
        </p>
      </div>
      <div class="card-bg-image-wrapper">
        <img src="{% static 'img/errors/404.png' %}" class="card-bg-img" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}