.email-wrapper {
  padding: var(--space-sm) 0 0 0;
}

.email-content {
  border: 2px solid var(--add-background-color);
  border-radius: var(--radius-md) 0 var(--radius-md) var(--radius-md);
  padding: var(--space-md);
  background-color: var(--background-color);
  transition: background-color var(--transition-value), border-color var(--transition-value);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "left right";
  gap: var(--space-md);
  align-items: start;
}

.email-content.sent-email {
  border-left: var(--space-xs) solid var(--rgba-blue-color);
}

.email-content.inbox-email {
  border-left: var(--space-xs) solid var(--rgba-red-color);
}

.email-tree.chosen .email-content {
  border-color: var(--green-color);
}

.email-content.email-highlight {
  border-color: var(--green-color) !important;
}

.email-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.email-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-size: var(--font-sm);
  color: var(--add-color);
  align-items: flex-end;
  height: 100%;
}

.email-right > div {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-sm);
  text-align: right;
}

.email-right strong {
  text-align: left;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--add-color);
}

.email-subject {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color);
  padding-bottom: var(--space-xs);
  border-bottom: 1px dashed var(--extra-color);
}

.email-body {
  font-size: var(--font-sm);
  line-height: 1.4;
  /* white-space: pre-wrap; */
  word-break: break-word;
  max-height: 480px;
  max-width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.email-body p {
  margin: 0 0 var(--font-xl) 0;
}

.email-meta-id,
.email-meta-ref,
.email-date,
.email-to-cc,
.email-to,
.email-from {
  border-bottom: 1px dashed var(--extra-color);
  padding-bottom: var(--space-xs);
}

.email-link {
  color: var(--gray-color);
  transition: color var(--transition-value);
  text-decoration: none;
}

.email-link:hover {
  color: var(--add-color);
  text-decoration: underline;
}

.email-meta-status,
.send-reply {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  /* margin-top: auto; */
  width: 100%;
  margin-bottom: var(--space-lg);
  text-align: center;
}

.email-meta-status span,
.send-reply a.btn {
  width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: var(--space-xxs) var(--space-sm);
  font-size: var(--font-sm);
}

.email-meta-status span {
  letter-spacing: 0.05em;
  background-color: var(--add-background-color);
  border-radius: var(--space-xs);
  border: 1px solid var(--extra-color);
  text-align: center;
}

.email-status-pending {
  color: var(--priority-color);
}

.email-status-retry,
.email-status-sending {
  color: var(--yellow-color);
}

.email-status-sent {
  color: var(--green-color);
}

.email-status-failed {
  color: var(--red-color);
}


@media (max-width: 768px) {
  .email-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";
    gap: var(--space-md);
  }

  .email-right {
    align-items: flex-start;
  }

  .email-right > div {
    text-align: left;
    grid-template-columns: auto;
  }

  .email-body {
    max-height: none;
  }
}