.email-wrapper {
  padding: var(--space-sm) 0;
}

.email-content {
  border: 2px solid var(--add-background-color);
  border-radius: var(--radius-md);
  padding: var(--space-md);
  background-color: var(--background-color);
  transition: background-color var(--transition-value), border-color var(--transition-value);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "left right";
  gap: var(--space-lg);
  align-items: start;
}

.email-tree.chosen .email-content {
  border-color: var(--gray-color);
}

.email-content.email-highlight {
  border-color: var(--priority-color) !important;
}

.email-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.email-right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: var(--font-xs);
  color: var(--gray-color);
  align-items: flex-end;
  height: 100%;
}

.email-right > div {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-sm);
  text-align: right;
}

.email-right strong {
  text-align: left;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--add-color);
}

.email-subject {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color);
  padding-bottom: var(--space-xs);
  border-bottom: 1px dashed var(--extra-color);
}

.email-body {
  font-size: var(--font-xs);
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 250px;
  max-width: 100%;
  overflow: auto;
}

.email-body p {
  margin: 0;
}

.email-meta-id,
.email-meta-ref,
.email-date,
.email-to-cc,
.email-to,
.email-from {
  border-bottom: 1px dashed var(--extra-color);
  padding-bottom: var(--space-xs);
}

.email-link {
  color: var(--gray-color);
  transition: color var(--transition-value);
  text-decoration: none;
}

.email-link:hover {
  color: var(--priority-color);
  text-decoration: underline;
}

/* .email-meta-id {
  margin-top: auto;
} */

@media (max-width: 768px) {
  .email-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "left";
    gap: var(--space-md);
  }

  .email-right {
    align-items: flex-start;
  }

  .email-right > div {
    text-align: left;
    grid-template-columns: auto;
  }

  .email-body {
    max-height: none;
  }
}