.email-highlight {
  animation: highlightFade var(--long-transition-value);
  border-radius: var(--radius-sm);
}

@keyframes highlightFade {
  0% {
    box-shadow: 0 0 var(--space-sm) var(--add-color);
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
