.email-three {
  margin-top: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.email-tree {
  border-radius: var(--radius-md);
  background-color: var(--add-background-color);
  transition: background-color var(--transition-value);
}

.email-tree-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-sm);
  background-color: var(--add-background-color);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--extra-color);
  transition: bacground-color var(--transition-value) border-color var(--transition-value);
}

.toggle-tree-btn {
  padding: var(--space-xs);
  font-size: var(--font-xs);
  min-width: 140px;
}

.email-tree-ids {
  color: var(--gray-color);
  font-size: var(--font-xs);
  white-space: nowrap;
  max-width: 100%;
  transition: color var(--transition-value);
}

.email-tree-ids strong {
  color: var(--add-color);
}


.email-tree-body.hidden {
  display: none;
}

.email-tree-checkbox-label {
  margin-left: var(--space-md);
}
