.email-attachments-wrapper {
  padding-top: var(--space-sm);
  border-top: 1px dashed var(--extra-color);
}

.email-attachments ul {
  list-style: none;
  margin: var(--space-xs) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  padding: 0;
}

.attachment-item {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attachment-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  text-decoration: none;
}

.attachment-preview, .attachment-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-sm);
  border: 1px solid var(--extra-color);
  margin-bottom: var(--space-xs);
  text-decoration: none;
}

.attachment-name {
  display: block;
  margin-top: var(--space-xs);
  font-size: var(--font-xs);
  color: var(--gray-color);
  text-align: center;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  transition: color var(--transition-value), text-decoration var(--transition-value);
  text-decoration: none;
}

.attachment-file:hover .attachment-name,
.attachment-preview:hover + .attachment-name {
  color: var(--blue-color);
  text-decoration: underline;
}

.attachment-icon.pdf { background-image: url('/static/img/icons/pdf.png'); }
.attachment-icon.xlsx { background-image: url('/static/img/icons/excel.png'); }
.attachment-icon.docx { background-image: url('/static/img/icons/word.png'); }
.attachment-icon.txt { background-image: url('/static/img/icons/txt.png'); }
.attachment-icon.file { background-image: url('/static/img/icons/file.png'); }

.email-attachments.hidden {
  display: none;
}
.toggle-attachments-btn {
  margin-bottom: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  border: 1px solid var(--extra-color);
  background-color: var(--add-background-color);
  cursor: pointer;
  color: var(--color);
  font-size: var(--font-sm);
}

.toggle-attachments-btn:hover {
  background-color: var(--extra-color);
}