.card-header {
  gap: var(--space-sm);
}

.incident-title {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--color);
  margin: 0;
  flex: 1 1 auto;
  min-width: 150px;
  max-width: 70%;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word; 
}

.card-header-top,
.card-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.incident-form-actions {
  display: flex;
  gap: var(--space-sm);
}

.incident-form-actions button {
  flex: 1;
  font-size: var(--font-sm);
  padding: var(--space-xxs) var(--space-md);
  text-align: center;
}

.submit-incident-button {
  padding: var(--space-xxs) var(--space-sm) !important;
}

.new-notification-button,
.new-email-button,
.refresh-button {
  flex: 0 0 auto;
  width: 100%;
  max-width: 3px;
  font-size: var(--font-sm);
  padding: var(--space-xxs) var(--space-md);
  text-align: center;
}

.incident-date {
  font-size: var(--font-xs);
  color: var(--gray-color);
  margin: 0;
  font-weight: 450;
  flex: 1 1 auto;
  text-align: right;
  max-width: 80%;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word; 
}

@media (max-width: 768px) {
  .card-header-top, .card-header-bottom {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .incident-title {
    max-width: 100%;
  }

  .incident-date {
    text-align: left;
    margin-top: var(--space-xs);
    max-width: 100%;
  }
}