.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  box-shadow: none;
}

.card {
  border: 1px solid var(--extra-color);
}

.status-name,
.status-tag {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--background-color) !important;
  justify-self: end;
  min-width: 90px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  font-size: var(--font-sm);
}

.monitoring-toggle-btn,
.toggle-status-history,
.toggle-incident-history {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-md);
  border: 1px solid var(--add-background-color);
  border-collapse: collapse;
  border-radius: var(--radius-sm);
  background-color: var(--add-background-color);
  color: var(--color);
  cursor: pointer;
  transition: all var(--transition-value);
}

.monitoring-toggle-btn:hover,
.toggle-incident-history:hover,
.toggle-email-three:hover {
  background-color: var(--extra-color);
}

.card-body {
  gap: var(--space-xs);
}

.email-three,
.status-history {
  padding: 0;
  margin: 0;
  display: none;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .card-header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .status-tag {
    align-self: flex-start;
    margin-top: var(--space-md);
  }

  .incident-date {
    text-align: left;
  }
}