.card-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  box-shadow: none;
}

.card {
  border: 1px solid var(--extra-color);
}

.card-header-top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: var(--space-sm);
}

.incident-title {
  margin: 0;
  font-weight: 500;
  font-size: var(--font-md);
  color: var(--add-color);
  overflow-wrap: break-word;
  word-break: break-word;
}

.incident-code {
  color: var(--color);
  font-weight: 600;
}

.status-name,
.status-tag {
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-sm);
  font-size: var(--font-xs);
  font-weight: 500;
  color: var(--background-color);
  justify-self: end;
}

.incident-date {
  margin: 0;
  font-weight: 500;
  margin-top: var(--space-sm);
  text-align: right;
  font-size: var(--font-xs);
  color: var(--gray-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  font-size: var(--font-sm);
}

.incident-meta p,
.incident-sla p {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--space-sm);
  margin: var(--space-xs) 0;
  line-height: 1.4;
}

.incident-sla strong,
.incident-meta strong {
  white-space: nowrap;
}

.incident-sla span,
.incident-meta span {
  color: var(--add-color);
}

.toggle-status-history,
.toggle-incident-history {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-sm);
  border: 1px solid var(--extra-color);
  border-radius: var(--radius-sm);
  background-color: var(--add-background-color);
  color: var(--color);
  cursor: pointer;
  transition: all var(--transition-value);
}

.toggle-incident-history:hover,
.toggle-email-three:hover {
  background-color: var(--extra-color);
}

.card-body {
  gap: var(--space-xs);
}

.email-three,
.status-history {
  padding: 0;
  margin: 0;
  display: none;
  overflow-x: auto;
}

.incident-sla p,
.incident-meta p {
  border-bottom: 1px dashed var(--extra-color);
}

@media (max-width: 768px) {
  .card-header-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .status-tag {
    align-self: flex-start;
    margin-top: var(--space-md);
  }

  .incident-date {
    text-align: left;
  }
}