<div class="filter-select-wrapper">
  <div class="filter-select-trigger btn btn-secondary tooltip" data-title="Настроить фильтры">
    <i class="bx bx-slider bx-rotate-90"></i>
  </div>
  <div class="filter-select-dropdown">

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_status">
        <span>Cтатус</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_responsible_user">
        <span>Автор</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_reason">
        <span>Причина</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_macroregion">
        <span>Макрорегион</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_region_responsible_manager">
        <span>Энергетик</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_avr_contractor">
        <span>Подрядчик</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_pole">
        <span>Шифр опоры</span>
    </label>
    
    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_date_from">
        <span>Дата регистрации ОТ</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="planned_work_date_to">
        <span>Дата регистрации ДО</span>
    </label>
  </div>
</div>