{% load static %}

{% block extra_css %}
{% endblock %}

<form method="post">
  {% csrf_token %}

  <div class="card-header">
    <div class="planned-work-form-actions">
      <button type="submit" 
              name="planned_work_submit" 
              class="btn btn-primary submit-planned-work-button" 
              {% if not can_manage %}disabled{% endif %}>
        Сохранить
      </button>

    </div>
    <p class="planned-work-date">
      зарегистрировано {{ planned_work.insert_date|date:"d.m.Y H:i" }}
    </p>
  </div>

  <div class="card-body">
    {% if main_form.non_field_errors %}
      <div class="form-non-field-errors">
        {% for error in main_form.non_field_errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="planned-work-row">
      <div class="form-group {% if main_form.pole.errors %}has-error{% endif %}">
        <label for="{{ main_form.pole.id_for_label }}" class="field-label">{{ main_form.pole.label }}</label>

        {{ main_form.pole }}

        {% for error in main_form.pole.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="select-wrapper {% if main_form.errors %}has-error{% endif %}">
        <label for="{{ main_form.reason.id_for_label }}">{{ main_form.reason.label }}</label>

        <select 
          name="{{ main_form.reason.name }}" 
          id="{{ main_form.reason.id_for_label }}"
        >

          {% for value, label in main_form.reason.field.choices %}
            {% if value %}
              <option value="{{ value }}"
                {% if field.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
              >
                {{ label }}
              </option>
            {% endif %}
          {% endfor %}

        </select>

        {% for error in main_form.reason.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="select-wrapper {% if main_form.errors %}has-error{% endif %}">
        <label for="{{ main_form.author.id_for_label }}">{{ main_form.author.label }}</label>

        <select 
          name="{{ main_form.author.name }}" 
          id="{{ main_form.author.id_for_label }}"
        >

          {% for value, label in main_form.author.field.choices %}
            {% if value %}
              <option value="{{ value }}"
                {% if main_form.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
              >
                {{ label }}
              </option>
            {% endif %}
          {% endfor %}

        </select>

        {% for error in main_form.author.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

    </div>

    <div class="planned-work-row">
      {% include "planned_work/includes/planned_work_sla_meta.html" with label="SLA ПЛР" status=main_form.instance.status start=main_form.start_date deadline=main_form.end_date start_field=main_form.start_date end_field=main_form.end_date  %}
    </div>

  </div>
</form>


{% block extra_js %}
{% endblock %}
