.chart-card > :not(.chart-utils),
#avr-sla-grid > :not(.chart-utils),
#rvr-sla-grid > :not(.chart-utils) {
    opacity: 1;
    transition: max-height var(--transition-value), opacity var(--transition-value);
}

.chart-card.collapsed > :not(.chart-utils),
#avr-sla-grid.collapsed > :not(.chart-utils),
#rvr-sla-grid.collapsed > :not(.chart-utils) {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    display: none !important;
    transition: max-height var(--transition-value), opacity var(--transition-value);
}

.chart-card.collapsed,
#avr-sla-grid.collapsed,
#rvr-sla-grid.collapsed {
    grid-column: 1 / -1 !important;
}

.stats:has(#closed-chart-card.collapsed):has(#open-chart-card:not(.collapsed)) #open-chart-card,
.stats:has(#open-chart-card.collapsed):has(#closed-chart-card:not(.collapsed)) #closed-chart-card {
    grid-column: 1 / -1;
}

.chart-utils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-sm);
    max-width: 100%;
    gap: var(--space-sm);
}

.toggle-chart-btn {
    flex-shrink: 0;
    min-width: 240px;
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--background-color);
    border: none;
    box-shadow: 0 0 var(--space-xxs) var(--extra-color);
    justify-content: left;
    font-size: var(--font-md);
    font-weight: 700;
    color: var(--color);
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.toggle-chart-btn:hover {
    color: var(--add-color)!important;
}

.copy-chart-data-btn {
    padding: var(--space-xxs) var(--space-xs);
    box-sizing: border-box;
    font-size: var(--font-sm);
}

.copy-chart-data-btn:hover {
    text-decoration-line: none;
}

.copy-chart-data-btn:active {
    color: var(--add-background-color);
    transform: scale(0.97);
}
