#avr-sla-grid,
#rvr-sla-grid {
    grid-column: 1 / -1;
    background-color: var(--background-color);
    border-radius: var(--radius-lg);
    box-shadow: 0 var(--space-xs) var(--space-md) var(--extra-color);
    transition: box-shadow var(--transition-value);
    padding: var(--space-sm);
}

.sla-title {
    font-size: var(--font-sm);
    font-weight: 700;
    color: var(--color);
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

.sla-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: var(--space-lg);
    margin: var(--space-md) var(--space-sm);
}

.sla-item {
    border-radius: var(--radius-lg);
    padding: var(--space-sm);
    position: relative;
    border: 1px solid var(--add-background-color);
    transition: border-color var(--transition-value),
                transform var(--transition-value);
}

.sla-item:hover {
    transform: scale(1.01);
    border-color: transparent;
}
