.table-filter-form .input-group {
  display: flex;
  gap: var(--space-xs);
  flex-direction: column;
  width: 100%;
}

.table-filter-form .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.table-filter-form input[type="date"] {
  width: 100%;
  height: 100%;
  padding: var(--space-sm) var(--space-xs);
  font-size: var(--font-sm);
  border: 1px solid var(--extra-color);
  border-radius: var(--radius-md);
  background-color: var(--add-background-color);
  color: var(--add-color);
  cursor: pointer;
  transition: border-color var(--transition-value), box-shadow var(--transition-value), background-color var(--transition-value);
  box-shadow: 0 0 0 var(--extra-color);
  
  color-scheme: light dark;
  max-height: 16px;
}
