.hours-total-grid,
.types-total-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, max-content));
  justify-content: space-evenly;
  gap: var(--space-sm);
  margin: 0 var(--space-sm);
}

.hours-total-item,
.types-total-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);

  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  box-shadow: 0 0 var(--space-xxs) var(--extra-color);

  color: var(--color);
  font-size: var(--font-xs);
}

.hours-total-label,
.types-total-label {
  font-size: var(--font-xs);
  color: var(--add-color);
  text-align: center;
}

.hours-total-label span.empty,
.types-total-label span.empty {
  color: var(--extra-color) !important;
}

.hours-total-item span:nth-of-type(2) {
  font-weight: 600;
}

.hours-total-item span.low {
  color: var(--green-color);
}

.hours-total-item span.medium {
  color: var(--blue-color);
}

.hours-total-item span.high {
  color: var(--yellow-color);
}

.hours-total-item span.critical {
  color: var(--red-color);
}
