.stats-table th:not(:first-child),
.stats-table td:not(:first-child) {
  text-align: center;
}

.stats-table.custom-table td {
  text-align: center;
}

.stats-table td:first-child {
  color: var(--color);
  font-weight: 500;
  text-align: left;
}

.stats-table tbody tr:last-child {
  font-weight: 500;
  border-top: 2px solid var(--extra-color);
}

.stats-table .delta-arrow.delta-low {
  color: var(--green-color);
  font-weight: 500;
}

.stats-table .delta-arrow.delta-medium {
  color: var(--blue-color);
  font-weight: 500;
}

.stats-table .delta-arrow.delta-high {
  color: var(--yellow-color);
  font-weight: 500;
}

.stats-table .delta-arrow.delta-critical {
  color: var(--red-color);
  font-weight: 500;
}