{% extends "services/base.html" %}

{% block subject %}Сброс пароля{% endblock %}

{% block content %}

<h2>Восстановление пароля</h2>

<p>Здравствуйте, <strong>{{ username }}</strong>!</p>

<p>
  Вы запросили восстановление пароля на <strong>{{ domain }}</strong>. 
  Для подтверждения нажмите кнопку ниже:
</p>

<table width="100%" cellpadding="0" cellspacing="0" border="0" class="button-container">
  <tr>
    <td align="right">
      <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: separate !important;">
        <tr>
          <td align="center" class="btn-wrapper btn-error">
            <a href="{{ reset_password_link }}" target="_blank" class="btn">
              Сброс пароля
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>
  Ссылка будет активна <strong>{{ valid_period }}</strong>.
</p>

<p class="text-muted">
  Если вы не оставляли заявку на сброс пароля, просто проигнорируйте это письмо.
</p>

{% endblock %}
