<nav class="footer-nav">
  <ul>
    {% with request.resolver_match.view_name as view_name %}
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'incidents:index' %}" 
            class="{% if view_name == 'incidents:index' %}active{% endif %}">
          <span>Инциденты</span>
        </a>
      </li>
      <li>
        <a href="{% url 'emails:emails_list' %}" 
            class="{% if view_name == 'emails:emails_list' %}active{% endif %}">
          <span>Почта</span>
        </a>
      </li>
      {% if user.role == 'energy' or user.is_superuser %}
        <li>
          <a href="{% url 'energy:energy_companies' %}" 
            class="{% if view_name == 'energy:energy_companies' %}active{% endif %}">
            <span>Энергосети</span>
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{% url 'users:users_list' %}" 
            class="{% if view_name == 'users:users_list' %}active{% endif %}">
          <span>Пользователи</span>
        </a>
      </li>
      <li>
        <a href="{% url 'stats:incidents_stats' %}" 
          class="{% if view_name == 'stats:incidents_stats' %}active{% endif %}">
          <span>Статистика</span>
        </a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'pages:about' %}" 
            class="{% if view_name == 'pages:about' %}active{% endif %}">
          <span>О нас</span>
        </a>
      </li>
    {% endwith %}
  </ul>
</nav>