{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/includes/paginator.css' %}">
{% endblock %}

<div class="pagination-wrapper">
  <div class="pagination-summary">
    Всего {{ page_obj.paginator.count }} записей
  </div>

  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{ page_url_base }}page=1">Первая</a>
        {% comment %} <a class="page-link" href="?page=1">Первая</a> {% endcomment %}
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ page_url_base }}page={{ page_obj.previous_page_number }}">
          Предыдущая
        </a>
        {% comment %} <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          Предыдущая
        </a> {% endcomment %}
      </li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
        {# Текущая страница и ±2 соседние #}
        {% if page_obj.number == i %}
          <li class="page-item active"><span class="page-link">{{ i }}</span></li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="{{ page_url_base }}page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}

      {% elif i == 1 %}
        {# Первая страница #}
        <li class="page-item">
          <a class="page-link" href="{{ page_url_base }}page=1">1</a>
        </li>
        {% if page_obj.number > 4 %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}

      {% elif i == page_obj.paginator.num_pages %}
        {# Последняя страница #}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="{{ page_url_base }}page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ page_url_base }}page={{ page_obj.next_page_number }}">
          Следующая
        </a>
        {% comment %} <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          Следующая
        </a> {% endcomment %}
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ page_url_base }}page={{ page_obj.paginator.num_pages }}">
          Последняя
        </a>
        {% comment %} <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
          Последняя
        </a> {% endcomment %}
      </li>
    {% endif %}
  </ul>
</div>