{% with request.resolver_match.view_name as view_name %}
  {% if view_name in 'users:users_list users:user_detail users:work_schedule' %}
    <form method="get" action="{% url 'users:users_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск пользователя"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="role" value="{{ selected_role }}" id="search-hidden-role">

    <button type="submit" class="tooltip" data-title="Поиск по имени, фамилии или email" tabindex="-1"><i class="bx bx-search"></i></button>
  {% elif view_name in 'emails:emails_list' %}
    <form method="get" action="{% url 'emails:emails_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск письма"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="folder" value="{{ selected.folder }}" id="search-hidden-folder">
    <input type="hidden" name="per_page" value="{{ selected.per_page }}" id="search-hidden-per-page">

    <button type="submit" class="tooltip" data-title="Поиск по коду инцидента, ID письма или теме" tabindex="-1"><i class="bx bx-search"></i></button>
  {% else %}
    <form method="get" action="{% url 'incidents:index' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск инцидента"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden"
          name="finish"
          id="search-hidden-finish"
          value="{{ selected.is_incident_finish|yesno:'true,false,' }}">
    <input type="hidden" name="status" value="{{ selected.status }}" id="search-hidden-status">
    <input type="hidden" name="category" value="{{ selected.category }}" id="search-hidden-category">
    <input type="hidden" name="pole" value="{{ selected.pole }}" id="search-hidden-pole">
    <input type="hidden" name="base_station" value="{{ selected.base_station }}" id="search-hidden-base-station">
    <input type="hidden" name="per_page" value="{{ selected.per_page }}" id="search-hidden-per-page">

    <button type="submit" class="tooltip" data-title="Поиск по коду или названию инцидента" tabindex="-1"><i class="bx bx-search"></i></button>
  {% endif %}
    </form>
{% endwith %}