<!-- Синхронизация полей идет по name -->

{% with request.resolver_match.view_name as view_name %}
  {% if view_name in 'users:users_list users:user_detail users:work_schedule' %}
    <form method="get" action="{% url 'users:users_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск пользователя"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="role" id="search-hidden-role">
    <input type="hidden"
          name="online"
          id="search-hidden-online-select"
        >
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" data-title="Поиск по имени, фамилии или email" tabindex="-1"><i class="bx bx-search"></i></button>
  {% elif view_name in 'emails:emails_list emails:email_detail' %}
    <form method="get" action="{% url 'emails:emails_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск в почте"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="folder" id="search-hidden-folder">
    <input type="hidden" name="email_from" id="search-hidden-email-from">
    <input type="hidden" name="email_date_from" id="search-hidden-email-date-from">
    <input type="hidden" name="email_date_to" id="search-hidden-email-date-to">
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" data-title="Поиск по коду инцидента, ID письма, теме или шифру опоры" tabindex="-1"><i class="bx bx-search"></i></button>
  {% elif view_name in 'energy:energy_companies energy:claim_detail energy:appeal_detail' %}
    <form method="get" action="{% url 'energy:energy_companies' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        {% if view_name in 'energy:claim_detail' %}
          placeholder="Поиск заявок"
        {% elif view_name in 'energy:appeal_detail' %}
          placeholder="Поиск обращений"
        {% else %}
          placeholder="{% if selected.type == 'claims' %}Поиск заявок{% else %}Поиск обращений{% endif %}"
        {% endif %}
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="type" id="search-hidden-type">
    <input type="hidden" name="company" id="search-hidden-company">
    <input type="hidden" name="declarant" id="search-hidden-declarant">
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" 
            {% if view_name in 'energy:claim_detail' %}
              data-title="Поиск по номеру заявки"
            {% elif view_name in 'energy:appeal_detail' %}
              data-title="Поиск по номеру обращения"
            {% else %}
              data-title="{% if selected.type == 'claims' %}Поиск по номеру заявки{% else %}Поиск по номеру обращения{% endif %}" 
            {% endif %}
            tabindex="-1">
      <i class="bx bx-search"></i>
    </button>
  {% elif view_name in 'notifications:notification_list notifications:notification_detail' %}
    <form method="get" action="{% url 'notifications:notification_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск уведомлений"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="read" id="search-hidden-read">
    <input type="hidden" name="level" id="search-hidden-level">
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" 
            data-title="Поиск по теме уведомления" 
            tabindex="-1">
      <i class="bx bx-search"></i>
    </button>
  {% elif view_name in 'planned_work:planned_work_create planned_work:planned_work_detail planned_work:planned_work_list' %}
    <form method="get" action="{% url 'planned_work:planned_work_list' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск плановой работы"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden" name="planned_work_status" id="search-hidden-status">
    <input type="hidden" name="planned_work_responsible_user" id="search-hidden-responsible-user-select">
    <input type="hidden" name="planned_work_reason" id="search-hidden-reason">
    <input type="hidden" name="planned_work_macroregion" id="search-hidden-macroregion">
    <input type="hidden" name="planned_work_region_responsible_manager" id="search-hidden-region-responsible-manager">
    <input type="hidden" name="planned_work_avr_contractor" id="search-hidden-avr-contractor">
    <input type="hidden" name="planned_work_pole" id="search-hidden-pole">
    <input type="hidden" name="planned_work_date_from" id="search-hidden-planned-work-date-from">
    <input type="hidden" name="planned_work_date_to" id="search-hidden-planned-work-date-to">
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" 
            data-title="Поиск по ID ПЛР, теме связанных писем или шифру опоры" 
            tabindex="-1">
      <i class="bx bx-search"></i>
    </button>
  {% else %}
    <form method="get" action="{% url 'incidents:index' %}" class="header-search" id="search-form" autocomplete="off">
      <input
        type="text"
        name="q"
        value="{{ search_query|default:'' }}"
        placeholder="Поиск инцидента"
        aria-label="Поиск"
        id="search-input"
        maxlength="256"
        autocomplete="off"
      >

    <input type="hidden"
          name="finish"
          id="search-hidden-finish-select"
        >
    <input type="hidden"
          name="was_read"
          id="search-hidden-was-read-select"
        >
    <input type="hidden" name="status" id="search-hidden-status-select">
    <input type="hidden" name="responsible_user" id="search-hidden-responsible-user-select">
    <input type="hidden" name="category" id="search-hidden-category">
    <input type="hidden" name="sla_avr" id="search-hidden-sla-avr">
    <input type="hidden" name="sla_rvr" id="search-hidden-sla-rvr">
    <input type="hidden" name="sla_dgu" id="search-hidden-sla-dgu">
    <input type="hidden" name="sla_eks" id="search-hidden-sla-eks">
    <input type="hidden" name="incident_type" id="search-hidden-incident-type">
    <input type="hidden" name="incident_subtype" id="search-hidden-incident-subtype">
    <input type="hidden" name="operator_group" id="search-hidden-operator-group">
    <input type="hidden" name="macroregion" id="search-hidden-macroregion">
    <input type="hidden" name="region_responsible_manager" id="search-hidden-region-responsible-manager">
    <input type="hidden" name="avr_contractor" id="search-hidden-avr-contractor">
    <input type="hidden" name="pole" id="search-hidden-pole">
    <input type="hidden" name="base_station" id="search-hidden-base-station">
    <input type="hidden" name="incident_date_from" id="search-hidden-incident-date-from">
    <input type="hidden" name="incident_date_to" id="search-hidden-incident-date-to">
    <input type="hidden" name="per_page" id="search-hidden-per-page">

    <button type="submit" class="tooltip" data-title="Поиск по коду, названию инцидента или шифру опоры" tabindex="-1"><i class="bx bx-search"></i></button>
  {% endif %}
    </form>
{% endwith %}