<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <ul>
      {% with request.resolver_match.view_name as view_name %}
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'incidents:index' %}" 
              class="nav-link {% if view_name == 'incidents:index' %}active{% endif %}">
              <i class='bx  bx-calendar-check'></i> 
              <span class="link-text">Инциденты</span>
            </a>
          </li>
          <li>
            <a href="{% url 'emails:emails_list' %}" 
              class="nav-link {% if view_name == 'emails:emails_list' %}active{% endif %}">
              <i class='bx  bx-envelope'></i> 
              <span class="link-text">Почта</span>
            </a>
          </li>
          <li>
            <a href="{% url 'users:users_list' %}" 
              class="nav-link {% if view_name == 'users:users_list' %}active{% endif %}">
              <i class="bx bx-user"></i>
              <span class="link-text">Пользователи</span>
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{% url 'pages:about' %}" 
            class="nav-link {% if view_name == 'pages:about' %}active{% endif %}">
            <i class="bx bx-info-circle"></i>
            <span class="link-text">О нас</span>
          </a>
        </li>
      {% endwith %}
    </ul>
  </div>
</nav>