<div class="email-wrapper">

  <div id="email-{{ node.email.id }}" class="email-content">
    <div class="email-left">
      <div class="email-subject">
        {% if node.email.email_subject %}
          <strong class="copy-text" data-text="{{ node.email.email_subject }}">{{ node.email.email_subject }}</strong>
        {% else %}
          <strong>Без темы</strong>
        {% endif %}
      </div>
    
      <div class="email-body">
        {{ node.email.email_body|linebreaks }}
      </div>
    
      <div class="email-attachments-wrapper">
        {% if node.email.email_attachments.all or node.email.email_intext_attachments.all %}
          <button type="button" class="toggle-attachments-btn" onclick="this.nextElementSibling.classList.toggle('hidden'); this.textContent = this.nextElementSibling.classList.contains('hidden') ? 'Показать вложения' : 'Скрыть вложения';">
            Показать вложения
          </button>
          <div class="email-attachments hidden">
            <ul>
              {% for att in node.email.email_attachments.all %}
                {% include "emails/includes/attachment_item.html" with att=att %}
              {% endfor %}
              {% for att in node.email.email_intext_attachments.all %}
                {% include "emails/includes/attachment_item.html" with att=att %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="email-right">
      
      <div class="email-from">
        <strong>От:</strong> <span class="copy-text" data-text="{{ node.email.email_from }}">{{ node.email.email_from }}</span>
      </div>
      
      <div class="email-to">
        <strong>Кому:</strong>
        {% for to in node.email.email_msg_to.all %}
        {{ to.email_to }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
      
      {% if node.email.email_msg_cc.all %}
        <div class="email-to-cc">
          <strong>Копия:</strong>
          {% for cc in node.email.email_msg_cc.all %}
          {{ cc.email_to }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="email-date"><strong>Дата:</strong>{{ node.email.email_date|date:"d.m.Y H:i" }}</div>

      <div class="email-meta-id"><strong>ID письма:</strong>{{ node.email.id }}</div>
      {% if node.branch_ids and forloop.parentloop %}
        <div class="email-meta-ref">
          <strong>Ответ на:</strong> 
          <div>
            {% for id in node.branch_ids %}
              <a class="email-link" href="#email-{{ id }}">{{ id }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>  
  </div>

  {% if node.children %}
    <div class="email-children">
      {% for child in node.children %}
        {% include "incidents/includes/email_node.html" with node=child level=level|add:1 %}
      {% endfor %}
    </div>
  {% endif %}
</div>