<div class="filter-select-wrapper">
  <div class="filter-select-trigger btn btn-secondary tooltip" data-title="Настроить фильтры">
    <i class="bx bx-slider bx-rotate-90"></i>
  </div>
  <div class="filter-select-dropdown">
    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="finish">
        <span>Статус завершения</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="status">
        <span>Последний статус</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="responsible_user">
        <span>Диспетчер</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="was_read">
        <span>Прочитано</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="category">
        <span>Категория</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="incident_type">
        <span>Тип инцидента</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="sla_avr">
        <span>SLA АВР</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="sla_rvr">
        <span>SLA РВР</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="sla_dgu">
        <span>ВРТ ДГУ</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="operator_group">
        <span>Группа операторов</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="macroregion">
        <span>Макрорегион</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="region_responsible_manager">
        <span>Энергетик</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="avr_contractor">
        <span>Подрядчик</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="pole">
        <span>Шифр опоры</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="base_station">
        <span>Номер БС</span>
    </label>
    
    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="incident_date_from">
        <span>Дата регистрации ОТ</span>
    </label>

    <label class="column-option">
        <i class="bx check-icon"></i>
        <input type="checkbox" data-filter-name="incident_date_to">
        <span>Дата регистрации ДО</span>
    </label>
  </div>
</div>