{% load static %}

{% load custom_filters bs_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/tables.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/autoselect_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_header.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/select_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_meta_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/sla_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/monitoring_section.css' %}">
{% endblock %}

<form method="post">
  {% csrf_token %}

  <div class="card-header">
    <div class="card-header-top-wrapper">
      <div class="card-header-top">
        <p class="incident-title">
          {{ incident.first_email_subject|default:"—" }}
        </p>
        <div class="select-wrapper status-select">
          <select name="{{ incident_form.new_status.name }}">
            {% for status in incident_form.statuses_list %}
              <option value="{{ status.pk }}"
                  {% if incident_form.new_status.value == status.pk %}selected{% endif %}
                  class="{{ status.status_type.css_class }}">
                {{ status.name }}
              </option>
            {% endfor %}
          </select>
          {% for error in incident_form.new_status.errors %}
            <div class="form-error">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card-header-bottom">
      <div class="incident-form-actions">
        <button type="submit" 
                name="incident_submit" 
                class="btn btn-primary submit-incident-button" 
                {% if not can_manage and not request.user.is_incident_responsible %}disabled{% endif %}>
          Сохранить
        </button>

        <a href="{% url 'notifications:notification_create_from_incident' incident.id %}" 
          class="btn btn-warning new-notification-button tooltip" 
          data-title="Создать уведомление по инциденту">
          <i class="bx bx-bell"></i>
        </a>

        <div class="select-wrapper incident-was-read">
          {{ incident_form.was_read }}
        </div>

        <label class="toggle-v2-wrapper tooltip {% if incident_form.auto_close.field.disabled %}disabled{% endif %}"
            for="{{ incident_form.auto_close.id_for_label }}"
            data-title="Автоматически закрыть инцидент через {{ incident_form.auto_close_human_ttl }}">

            {{ incident_form.auto_close }}

            <div class="toggle-v2-track">
              <i class="bx bx-flag toggle-v2-icon"></i>
            </div>

        </label>

      </div>
      <div class="incident-timeline">
        {% if incident.incident_finish_date %}
          <!-- Завершенная инцидент -->
          <span class="date-item tooltip" data-title="Дата регистрации: определяется по дате первого входящего письма или момента добавления в систему.">
            <span class="date-label">REG:</span> 
            {{ incident.incident_date|date:"d.m.Y H:i" }}
          </span>
          <span class="date-item tooltip" data-title="Дата добавления в систему.">
            <span class="date-label">ADD:</span> 
            {{ incident.insert_date|date:"d.m.Y H:i" }}
          </span>
          <span class="date-item status-closed tooltip" data-title="Дата закрытия.">
            <span class="date-label">CLOSE:</span> 
            {{ incident.incident_finish_date|date:"d.m.Y H:i" }}
          </span>

        {% elif incident.auto_close_date %}
          <!-- Инцидент будет закрыт автоматически -->
          <span class="date-item tooltip" data-title="Дата регистрации: определяется по дате первого входящего письма или момента добавления в систему.">
            <span class="date-label">REG:</span> 
            {{ incident.incident_date|date:"d.m.Y H:i" }}
          </span>
          <span class="date-item tooltip" data-title="Дата добавления в систему.">
            <span class="date-label">ADD:</span> 
            {{ incident.insert_date|date:"d.m.Y H:i" }}
          </span>
          <span class="date-item status-pending tooltip" data-title="Дата автоматического закрытия.">
            <span class="date-label">CLOSE:</span> 
            {{ incident.auto_close_date|date:"d.m.Y H:i" }}
          </span>

        {% else %}
          <!-- Активный инцидент без авто-закрытия -->
          <span class="date-item tooltip" data-title="Дата регистрации: определяется по дате первого входящего письма или момента добавления в систему.">
            <span class="date-label">REG:</span> 
            {{ incident.incident_date|date:"d.m.Y H:i" }}
          </span>
          <span class="date-item tooltip" data-title="Дата добавления в систему.">
            <span class="date-label">ADD:</span> 
            {{ incident.insert_date|date:"d.m.Y H:i" }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card-body">

    {% if incident_form.non_field_errors %}
      <div class="form-error form-errors-general">
        {% for error in incident_form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
    {% endif %}

    <div class="incident-row">
      <div class="form-group {% if incident_form.pole.errors %}has-error{% endif %}">
        <label for="{{ incident_form.pole.id_for_label }}" class="field-label pole-label">
          <div class="pole-label-left">{{ incident_form.pole.label }}:</div>
          <div class="pole-label-right">
            {% if incident.pole %}
              <a href="https://fridge.newtowers.ru/site/passport/{{ incident.pole.site_id }}?proj={{ incident.pole.site_id }}" 
                class="pole-link tooltip" data-title="{{ incident.pole.region.macroregion|default:incident.pole.region }}" target="_blank">
                {{ incident.pole }}
              </a>
              {% if incident.pole %}<span class="ts-pole-status">{{ incident.pole.pole_status }}</span>{% endif %}
            {% else %}
              —
            {% endif %}
          </div>
        </label>

        {{ incident_form.pole }}

        {% for error in incident_form.pole.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="incident-info">
        {% if incident.pole %}
        <div class="infrastructure-company">
          {{ incident.pole.infrastructure_company }}, {{ incident.pole.region }}
        </div>
        {% endif %}
        <label class="field-label">Подрядчик по АВР</label>
        <span class="field-value {% if incident.avr_contractor %}copy-text{% endif %}" data-text="{% for e in incident.pole.prefetched_avr_emails %}{{ e.email }}{% if not forloop.last %}, {% endif %}{% endfor %}">
          {% if incident.avr_contractor %}
            {{ incident.avr_contractor }}
          {% else %}
            —
          {% endif %}
        </span>
      </div>
    </div>

    <div class="incident-row">
      <div class="form-group {% if incident_form.base_station.errors %}has-error{% endif %}">
        <label for="{{ incident_form.base_station.id_for_label }}" class="field-label">
          {{ incident_form.base_station.label }}
        </label>

        {{ incident_form.base_station }}

        {% for error in incident_form.base_station.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="incident-info">
        <label class="field-label">Операторы</label>
        
        {% load bs_filters %}
        {% with operators=incident.base_station.prefetched_bs_operators %}
          <span class="field-value {% if operators %}tooltip{% endif %}"
                data-title="{{ operators|unique_names }}">
            {% if operators %}
              {{ operators|unique_groups }}
            {% else %}
              —
            {% endif %}
          </span>
        {% endwith %}
      </div>
    </div>

    <div class="incident-meta-row incident-meta-row-1">
      <div class="multi-select-wrapper" data-required="true">
        <label for="id_categories">{{ incident_form.categories.label }}</label>

        <div class="multi-select" id="categories-select">
          <div class="multi-select-values"></div>
          
          <div class="multi-select-dropdown">
            {% for cat in incident_form.categories_map %}
              <div class="multi-select-option" data-value="{{ cat.id }}">
                {{ cat.name }}
              </div>
            {% endfor %}
          </div>
        </div>

        <input type="hidden" name="categories" id="id_categories" value="{{ incident_form.categories.value|join:',' }}">
        
        {% for error in incident_form.categories.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      {% for field in incident_form %}
        {% if field.name == "responsible_user" or field.name == "region_responsible_user" %}
          <div class="select-wrapper status-select incident-form-select {% if field.errors %}has-error{% endif %}">
            {% if field.name == "region_responsible_user" %}
              <label for="{{ incident_form.region_responsible_user.id_for_label }}" class="field-label region-responsible-user-label">
                <div class="region-responsible-user-label-left">{{ incident_form.region_responsible_user.label }}:</div>
                <div class="region-responsible-user-label-right">
                  {% if incident.region_responsible_user %}
                    <span class="copy-text region-responsible-user-email" data-text="{{ incident.region_responsible_user.email|default:'' }}">{{ incident.region_responsible_user.email }}</span>
                  {% else %}
                    —
                  {% endif %}
                </div>
              </label>
            {% else %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% endif %}

            <select 
              name="{{ field.name }}" 
              id="{{ field.id_for_label }}"
            >

              <option value="" {% if not field.value %}selected{% endif %}>Не назначен</option>

              {% if field.name == "responsible_user" %}
                {% for user in incident_form.responsible_users_list %}
                  <option value="{{ user.pk }}"
                    {% if field.value|stringformat:"s" ==  user.pk|stringformat:"s" %}selected{% endif %}
                  >
                    {{ user }}
                  </option>
                {% endfor %}
              {% else %}
                {% for user in incident_form.region_responsible_user_list %}
                  <option value="{{ user.pk }}"
                    {% if field.value|stringformat:"s" ==  user.pk|stringformat:"s" %}selected{% endif %}
                  >
                    {{ user }}
                  </option>
                {% endfor %}
              {% endif %}

            </select>

            {% for error in field.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="incident-meta-row incident-meta-row-2">
      {% for field in incident_form %}
        {% if field.name == "incident_type" or field.name == "incident_subtype" or field.name == "rvr_priority" %}
          <div class="select-wrapper status-select incident-form-select {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="field-label incident-meta-label">
              <div class="incident-meta-label-left">{{ field.label }}</div>
              <div class="incident-meta-label-right">
                {% if field.name == "incident_type" %}
                  <span class="tooltip incident-meta-info" 
                        data-title="{{ incident.incident_type.description|default:'Выберите тип для подсказки' }}">
                    <i class="bx bx-info-circle" style="font-weight: bold"></i>
                  </span>
                {% elif field.name == "incident_subtype" %}
                  <span class="tooltip incident-meta-info" 
                        data-title="{{ incident.incident_subtype.description|default:'Выберите подтип для подсказки' }}">
                    <i class="bx bx-info-circle" style="font-weight: bold"></i>
                  </span>
                {% elif field.name == "rvr_priority" %}
                  <span class="tooltip incident-meta-info" 
                        data-title="{{ incident.rvr_priority.description|default:'Выберите приоритет для подсказки' }}">
                    <i class="bx bx-info-circle" style="font-weight: bold"></i>
                  </span>
                {% endif %}
              </div>
            </label>

            <select 
              name="{{ field.name }}" 
              id="{{ field.id_for_label }}"
            >
              <option value="" {% if not field.value %}selected{% endif %}>Не выбрано</option>

              {% if field.name == "incident_type" %}
                {% for type_id, type_data in incident_form.incident_types_map.items %}
                  <option value="{{ type_id }}"
                    {% if field.value|stringformat:"s" == type_id|stringformat:"s" %}selected{% endif %}
                  >
                    {{ type_data.name }}
                  </option>
                {% endfor %}
              {% elif field.name == "incident_subtype" %}
                {% for item in incident_form.incident_subtypes_list %}
                  <option value="{{ item.pk }}"
                    {% if field.value|stringformat:"s" == item.pk|stringformat:"s" %}selected{% endif %}
                  >
                    {{ item }}
                  </option>
                {% endfor %}
              {% else %}
                {% for priority_id, priority_data in incident_form.rvr_priorities_map.items %}
                  <option value="{{ priority_id }}"
                    {% if field.value|stringformat:"s" == priority_id|stringformat:"s" %}selected{% endif %}
                  >
                    {{ priority_data.name }}
                  </option>
                {% endfor %}
              {% endif %}

            </select>

            {% for error in field.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% include "incidents/includes/incident_sla_meta.html" with label="SLA АВР" status=incident.sla_avr_status_val start=incident.avr_start_date deadline=incident.sla_avr_deadline start_field=incident_form.avr_start_date end_field=incident_form.avr_end_date %}

    {% include "incidents/includes/incident_sla_meta.html" with label="SLA РВР" status=incident.sla_rvr_status_val start=incident.rvr_start_date deadline=incident.sla_rvr_deadline start_field=incident_form.rvr_start_date end_field=incident_form.rvr_end_date %}

    {% include "incidents/includes/incident_sla_meta.html" with label="ВРТ ДГУ" status=incident.sla_dgu_status_val start=incident.dgu_start_date deadline=incident.sla_dgu_deadline start_field=incident_form.dgu_start_date end_field=incident_form.dgu_end_date %}

    {% include "incidents/includes/incident_sla_meta.html" with label="ВРТ ЭКС" status=incident.sla_eks_status_val start=incident.eks_start_date deadline=incident.sla_eks_deadline start_field=incident_form.eks_start_date end_field=incident_form.eks_end_date %}

    {% include "incidents/includes/monitoring_section.html" with monitoring=monitoring %}

    {% include "incidents/includes/status_history.html" with incident=incident %}

    {% include "incidents/includes/change_log.html" with incident=incident %}
  </div>
</form>


<!-- jQuery должен подключаться до media формы -->
{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {{ incident_form.media }}
  <script src="{% static 'js/incidents/change_status_select.js' %}"></script>
  <script src="{% static 'js/incidents/hide_monitoring_table.js' %}"></script>
  <script src="{% static 'js/multi_select.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}
