{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/table_filter.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/select_table_column.css' %}">
{% endblock %}

<form method="get" class="table-filter-form" id="filter-form">
  <div class="left-part">
    <div class="select-wrapper">
      <select name="finish"
              id="finish-select"
              class="select tooltip"
              data-title="Статус завершения инцидента">

        <option value="" {% if selected.is_incident_finish is None %}selected{% endif %}>
          Все доступные
        </option>

        <option value="true" {% if selected.is_incident_finish is True %}selected{% endif %}>
          Завершенные
        </option>

        <option value="false" {% if selected.is_incident_finish is False %}selected{% endif %}>
          Не завершенные
        </option>

      </select>
    </div>

    <div class="select-wrapper">
      <select name="status" id="status-select" class="select tooltip" data-title="Последний статус инцидента">
        <option value="" {% if not selected.status %}selected{% endif %}>Статус: Все</option>
        {% for s in statuses %}
          <option value="{{ s }}" {% if selected.status == s %}selected{% endif %}>{{ s }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="select-wrapper">
      <select name="category" id="category-select" class="select tooltip" data-title="Категория инцидента">
        <option value="" {% if not selected.category %}selected{% endif %}>Категория: Все</option>
        {% for cat in categories %}
          <option value="{{ cat.id }}" {% if selected.category == cat.id|stringformat:"s" %}selected{% endif %}>
            Категория: {{ cat.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="select-wrapper">
      <select name="sla_avr" id="sla-avr" class="select tooltip" data-title="Статус SLA АВР">
        <option value="" {% if not selected.sla_avr_status %}selected{% endif %}>
          SLA АВР: Все
        </option>
        {% for item in sla_statuses %}
          <option value="{{ item.value }}"
                  {% if selected.sla_avr_status == item.value %}selected{% endif %}>
            SLA АВР: {{ item.label }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="select-wrapper">
      <select name="sla_rvr" id="sla-rvr" class="select tooltip" data-title="Статус SLA РВР">
        <option value="" {% if not selected.sla_rvr_status %}selected{% endif %}>
          SLA РВР: Все
        </option>
        {% for item in sla_statuses %}
          <option value="{{ item.value }}"
                  {% if selected.sla_rvr_status == item.value %}selected{% endif %}>
            SLA РВР: {{ item.label }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="select-wrapper">
      <select name="sla_dgu" id="sla-dgu" class="select tooltip" data-title="Статус ВРТ ДГУ">
        <option value="" {% if not selected.sla_dgu_status %}selected{% endif %}>
          ВРТ ДГУ: Все
        </option>
        {% for item in time_statuses %}
          <option value="{{ item.value }}"
                  {% if selected.sla_dgu_status == item.value %}selected{% endif %}>
            ВРТ ДГУ: {{ item.label }}
          </option>
        {% endfor %}
      </select>
    </div>

    <input
      type="text"
      name="pole"
      value="{{ selected.pole|default:'' }}"
      placeholder="Шифр опоры"
      aria-label="Фильтр опоры"
      id="pole-input"
      maxlength="32"
      pattern="[a-zA-Z0-9\-]*"
      class="tooltip"
      data-title="Только латинские буквы, цифры и дефис"
    />

    <input
      type="text"
      name="base_station"
      value="{{ selected.base_station|default:'' }}"
      placeholder="Номер БС"
      aria-label="Фильтр по номеру базовой станции"
      id="base-station-input"
      maxlength="32"
      pattern="[a-zA-Z0-9\-]*"
      class="tooltip"
      data-title="Только латинские буквы, цифры и дефис"
    >
  </div>
    
  <div class="right-parts">
    <div class="column-select-wrapper">
      <div class="column-select-trigger tooltip" data-title="Настроить столбцы">
        Столбцы
      </div>

      <div class="column-select-dropdown">
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="category">
          <span>Категория</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="subject">
          <span>Инцидент</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="user">
          <span>Исполнитель</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="status">
          <span>Статус</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="sla_avr">
          <span>SLA АВР</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="sla_rvr">
          <span>SLA РВР</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="sla_dgu">
          <span>ВРТ ДГУ</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="pole">
          <span>Шифр опоры</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="bs">
          <span>Номер БС</span>
        </label>
        <label class="column-option">
          <i class="bx check-icon"></i>
          <input type="checkbox" data-col="created">
          <span>Дата регистрации</span>
        </label>
      </div>
    </div>

    <div class="select-wrapper">
      <select name="per_page" id="per-page" class="select tooltip" data-title="Кол-во инцидентов на странице">
        {% for size in page_size_choices %}
        <option value="{{ size }}" {% if selected.per_page == size %}selected{% endif %}>Показать: {{ size }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="button" id="reset-filters" class="btn btn-secondary tooltip" data-title="Сбросить фильтры">
      <i class="bx bx-x-circle"></i>
    </button>

    {% if selected.sort == "asc" %}
    <button type="button" class="btn btn-secondary sort-incidents-btn tooltip" data-sort="desc" data-param="sort_incidents" data-cookie="sort_incidents" data-title="Сначала новые">
      <i class='bx bx-chevrons-down'></i>
    </button>
    {% else %}
    <button type="button" class="btn btn-secondary sort-incidents-btn tooltip" data-sort="asc" data-param="sort_incidents" data-cookie="sort_incidents" data-title="Сначала старые">
      <i class='bx bx-chevrons-up'></i>
    </button>
    {% endif %}

    <button type="submit" class="btn btn-primary tooltip" data-title="Применить фильтр">
      <i class="bx bx-filter"></i>
    </button>
  </div>

  <input type="hidden" name="q" value="{{ search_query }}" id="filter-hidden-q">
</form>

{% block extra_js %}
<script src="{% static 'js/incidents/search_filter.js' %}"></script>
<script src="{% static 'js/save_elements_per_page.js' %}"></script>
<script src="{% static 'js/reset_tables_filter.js' %}"></script>
<script src="{% static 'js/sort_table.js' %}"></script>
<script src="{% static 'js/select_table_column.js' %}"></script>
{% endblock %}