{% load static %}

{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/tables.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_header.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/select_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/autoselect_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_meta_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/sla_forms.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/monitoring_section.css' %}">
{% endblock %}

<form method="post">
  {% csrf_token %}

  <div class="card-header">
    <div class="card-header-top-wrapper">
      <div class="card-header-top">
        <p class="incident-title">
          {% if incident.first_email_subject %}
            <strong class="incident-code copy-text" data-text="{{ incident.code|default:incident.id }}">{{ incident }}:</strong>
            {{ incident.first_email_subject|default:"—" }}
          {% else %}
            <strong class="incident-code copy-text" data-text="{{ incident.code|default:incident.id }}">{{ incident }}</strong>
          {% endif %}
        </p>
        <div class="select-wrapper status-select">
          <select name="{{ incident_form.new_status.name }}">
            {% for value, label in incident_form.new_status.field.choices %}
              {% if value %}
                <option value="{{ value }}" 
                    {% if incident_form.new_status.value == value %}selected{% endif %}
                    class="{{ incident_form.status_classes|dict_get:value }}">
                  {{ label }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
          {% for error in incident_form.new_status.errors %}
            <div class="form-error">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card-header-bottom">
      <div class="incident-form-actions">
        <button type="submit" 
                name="incident_submit" 
                class="btn btn-primary submit-incident-button" 
                {% if not can_manage %}disabled{% endif %}>
          Сохранить
        </button>

        <button type="button" 
                class="btn btn-secondary refresh-button tooltip" 
                onclick="window.location.href=window.location.href;"
                data-title="Перезагрузить страницу">
          <i class="bx bx-refresh"></i>
        </button>

        <a href="{% url 'notifications:notification_create_from_incident' incident.id %}" 
          class="btn btn-warning new-notification-button tooltip" 
          data-title="Создать уведомление по инциденту">
          <i class="bx bx-bell"></i>
        </a>

        <a href="{% url 'incidents:new_email' incident.id %}" 
          class="btn btn-success new-email-button tooltip" 
          data-title="Создать новое письмо"
          {% if not can_manage %}disabled{% endif %}>
          <i class="bx bx-envelope"></i>
        </a>

        <div class="dropdown">
          <button type="button" class="dropdown-toggle">
            Шаблоны
            <span class="dropdown-arrow">▾</span>
          </button>

          <div class="dropdown-menu">
            <a href="{% url 'incidents:notify_operator' incident.id %}"
              class="dropdown-item">
              Уведомить оператора
            </a>

            <a href="{% url 'incidents:notify_avr_contractor' incident.id %}"
              class="dropdown-item">
              Передать подрядчику АВР
            </a>

            <a href="{% url 'incidents:notify_rvr_contractor' incident.id %}"
              class="dropdown-item">
              Передать подрядчику РВР
            </a>

            <a href="{% url 'incidents:notify_incident_closed' incident.id %}"
              class="dropdown-item">
              Уведомить о закрытии
            </a>
          </div>
        </div>

      </div>
      <p class="incident-date">
        {% if incident.incident_finish_date %}
          зарегистрировано {{ incident.incident_date|date:"d.m.Y H:i" }},
          закрыто {{ incident.incident_finish_date|date:"d.m.Y H:i" }}
        {% else %}
          зарегистрировано {{ incident.incident_date|date:"d.m.Y H:i" }}
        {% endif %}
      </p>
    </div>
  </div>

  <div class="card-body">

    {% if incident_form.non_field_errors %}
      <div class="form-error form-errors-general">
        {% for error in incident_form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
    {% endif %}

    <div class="incident-row">
      <div class="form-group {% if incident_form.pole.errors %}has-error{% endif %}">
        <label for="{{ incident_form.pole.id_for_label }}" class="field-label">
          {{ incident_form.pole.label }}
        </label>

        {{ incident_form.pole }}

        {% for error in incident_form.pole.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="incident-info">
        <label class="field-label">Подрядчик по АВР</label>
        <span class="field-value {% if incident.avr_contractor %}copy-text{% endif %}" data-text="{% for e in incident.pole.prefetched_avr_emails %}{{ e.email }}{% if not forloop.last %}, {% endif %}{% endfor %}">
          {% if incident.avr_contractor %}
            {{ incident.avr_contractor }}
          {% else %}
            —
          {% endif %}
        </span>
      </div>
    </div>

    <div class="incident-row">
      <div class="form-group {% if incident_form.base_station.errors %}has-error{% endif %}">
        <label for="{{ incident_form.base_station.id_for_label }}" class="field-label">
          {{ incident_form.base_station.label }}
        </label>

        {{ incident_form.base_station }}

        {% for error in incident_form.base_station.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="incident-info">
        <label class="field-label">Операторы</label>
        
        {% with operators=incident.base_station.prefetched_bs_operators %}
          <span class="field-value {% if operators.0 %}copy-text{% endif %}" 
                data-text="{% for op in operators %}{{ op.operator_name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
            
            {% if operators.0 %}
              {{ operators.0.operator_group|default:operators.0.operator_name }}
              
              {% if operators|length > 1 %}(+{{ operators|length|add:"-1" }}){% endif %}
            {% else %}
              —
            {% endif %}
          </span>
        {% endwith %}
      </div>
    </div>

    <div class="incident-meta-row">
      <div class="multi-select-wrapper" data-required="true">
        <label for="id_categories">{{ incident_form.categories.label }}</label>

        <div class="multi-select" id="categories-select">
          <div class="multi-select-values">
          </div>
          <div class="multi-select-dropdown">
            {% for value, label in incident_form.categories.field.choices %}
              <div class="multi-select-option" data-value="{{ value }}">
                {{ label }}
              </div>
            {% endfor %}
          </div>
        </div>

        <input type="hidden" name="categories" id="id_categories" value="{{ incident_form.categories.value|join:',' }}">
        
        {% for error in incident_form.categories.errors %}
          <div class="form-error">{{ error }}</div>
        {% endfor %}
      </div>

      {% for field in incident_form %}
        {% if field.name == "responsible_user" or field.name == "incident_type" or field.name == "incident_subtype" %}
          <div class="select-wrapper status-select incident-form-select {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            <select 
              name="{{ field.name }}{% if field.name == 'categories' %}[]{% endif %}" 
              id="{{ field.id_for_label }}"
              {% if field.name == "categories" %}multiple{% endif %}
            >

              {% if field.name == "incident_type" or field.name == "incident_subtype" %}
                <option value="" {% if not field.value %}selected{% endif %}>Не выбрано</option>
              {% elif field.name == "responsible_user" %}
                <option value="" {% if not field.value %}selected{% endif %}>Не назначен</option>
              {% endif %}

              {% for value, label in field.field.choices %}
                {% if value %}
                  <option value="{{ value }}"
                    {% if field.name == "categories" %}
                      {% if value|stringformat:"s" in field.value|stringformat:"s" %}selected{% endif %}
                    {% else %}
                      {% if field.value|stringformat:"s" == value|stringformat:"s" %}selected{% endif %}
                    {% endif %}
                  >
                    {{ label }}
                  </option>
                {% endif %}
              {% endfor %}

            </select>

            {% for error in field.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% include "incidents/includes/incident_sla_meta.html" with label="SLA АВР" status=incident.sla_avr_status_val start=incident.avr_start_date deadline=incident.sla_avr_deadline start_field=incident_form.avr_start_date end_field=incident_form.avr_end_date %}

    {% include "incidents/includes/incident_sla_meta.html" with label="SLA РВР" status=incident.sla_rvr_status_val start=incident.rvr_start_date deadline=incident.sla_rvr_deadline start_field=incident_form.rvr_start_date end_field=incident_form.rvr_end_date %}

    {% include "incidents/includes/incident_sla_meta.html" with label="ВРТ ДГУ" status=incident.sla_dgu_status_val start=incident.dgu_start_date deadline=incident.sla_dgu_deadline start_field=incident_form.dgu_start_date end_field=incident_form.dgu_end_date %}

    {% include "incidents/includes/monitoring_section.html" with monitoring=monitoring %}

</form>


<!-- jQuery должен подключаться до media формы -->
{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  {{ incident_form.media }}
  <script src="{% static 'js/incidents/change_status_select.js' %}"></script>
  <script src="{% static 'js/incidents/hide_monitoring_table.js' %}"></script>
  <script src="{% static 'js/multi_select.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}
