{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/tabs.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_three.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_node.css' %}">
<link rel="stylesheet" href="{% static 'css/emails/includes/files_preview.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_statuses.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_history.css' %}">
{% endblock %}

{% block title %}{{ incident }}{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="tabs" data-default-tab="{{ active_tab|default:'incident' }}">

      <div class="tabs-header">
        <div class="left-tabs-part">
          <button class="tab-btn" data-tab="incident">Инцидент</button>
          <button class="tab-btn" data-tab="email">Почта</button>
          <button class="tab-btn" data-tab="comments">Комментарии</button>
        </div>
        <div class="right-tabs-part">
          <strong class="incident-code copy-text" data-text="{{ incident.code|default:incident.id }}">{{ incident }}</strong>
        </div>
      </div>

      <div class="tabs-content">
        <div class="tab-panel" data-tab-content="incident">
          {% include "incidents/includes/incident_meta.html" with incident=incident %}
        </div>
  
        <div class="tab-panel" data-tab-content="email">
          {% include "incidents/includes/email_three_block.html" with incident=incident %}
        </div>
  
        <div class="tab-panel" data-tab-content="comments">
          {% include "incidents/includes/comments.html" with incident=incident %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/incidents/hide_sections.js' %}"></script>
<script src="{% static 'js/incidents/email_root.js' %}"></script>
{% if not confirm_stage %}
  <script src="{% static 'js/incidents/sort_emails.js' %}"></script>
  <script src="{% static 'js/incidents/email_view_toggle.js' %}"></script>
  <script>
    window.MOVE_EMAILS_CONFIG = {
      targetIncidentInputId: "{{ move_email_form.target_incident_code.id_for_label }}",
      idEmailIds: "{{ move_email_form.email_ids.id_for_label }}"
    };
  </script>
  <script src="{% static 'js/incidents/move_emails.js' %}"></script>
{% else %}
  <script src="{% static 'js/incidents/auto_open_emails_2_move.js' %}"></script>
{% endif %}
<script src="{% static 'js/incidents/has_scroll.js' %}"></script>
<script src="{% static 'js/incidents/attachment_btn.js' %}"></script>
<script src="{% static 'js/protected_image_viewer.js' %}"></script>
{% endblock %}