{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/incidents/includes/incident_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_three.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_node.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/files_preview.css' %}">
<link rel="stylesheet" href="{% static 'css/incidents/includes/email_buttons.css' %}">
{% endblock %}

{% block title %}{{ incident }}{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
      {% include "incidents/includes/incident_header.html" with incident=incident %}
    <div class="card-body">
      {% include "incidents/includes/incident_meta.html" with incident=incident %}

      {% if confirm_stage and email_three %}
        <form id="confirm-move-emails-form" method="post" action="{% url 'incidents:confirm_move_emails' %}">
          {% csrf_token %}
          <div class="form-controls">
            <div class="form-controls-left">
              <p>
                Выбранные письма:
                {% for group in selected_email_ids %}
                  {% for email_id in group %}
                    <a class="email-link" href="#email-{{ email_id }}">{{ email_id }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  {% if not forloop.last %}; {% endif %}
                {% endfor %}
              </p>
              <input type="hidden" name="source_incident_id" value="{{ source_incident.id }}">
              <input type="hidden" name="target_incident_code" value="{{ move_email_form.target_incident_code.value }}">
              <input type="hidden" name="email_ids" value='{{ selected_email_ids|safe|escapejs }}'>
            </div>
            <div class="form-controls-right">
              <div class="form-actions">
                <a href="{% url 'incidents:incident_detail' incident.id %}" class="btn btn-secondary cancel-move-email">Отмена</a>
                <button type="submit" class="btn btn-success submit-move-email">Подтвердить перенос</button>
              </div>
            </div>
          </div>
        </form>
      {% elif not confirm_stage and email_three %}
        <form id="move-emails-form" method="post">
          {% csrf_token %}
          <div class="form-controls">
            <div class="form-controls-left">
              <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="asc" data-title="Сначала новые">
                <i class='bx bx-chevrons-down'></i>
              </button>
              <button type="button" class="btn btn-secondary sort-emails-btn tooltip" data-sort="desc" data-title="Сначала старые">
                <i class='bx bx-chevrons-up'></i>
              </button>
            </div>
            <div class="form-controls-right">
              <input type="hidden" name="{{ move_email_form.email_ids.html_name }}"
                      id="{{ move_email_form.email_ids.id_for_label }}"
                      value='{{ move_email_form.email_ids.value|default:"[]" }}'>
              <input type="text"
                      name="{{ move_email_form.target_incident_code.html_name }}"
                      id="{{ move_email_form.target_incident_code.id_for_label }}"
                      placeholder="Код инцидента"
                      class="code-input tooltip"
                      maxlength="32"
                      required
                      pattern="[A-Za-z0-9-]+"
                      data-title="Целевой код инцидента для переноса писем"
                      value="{{ move_email_form.target_incident_code.value|default_if_none:'' }}">
              <button id="move-emails-btn" class="btn btn-success" type="submit" disabled>Переместить письма</button>
            </div>
          </div>
        </form>
      {% endif %}

      <div class="email-three">
        {% if email_three %}
          {% for root in email_three %}
            <div class="email-tree{% if confirm_stage and root.branch_ids in selected_email_ids %} chosen{% endif %}" id="email-tree-{{ forloop.counter }}">
              <div class="email-tree-header">
                <button class="btn btn-secondary toggle-tree-btn" type="button"
                        data-tree-id="email-tree-{{ forloop.counter }}">
                  Показать переписку
                </button>

                <div class="email-tree-ids">
                  <strong>ID писем:</strong>
                  {% for node in root.branch_ids %}
                    <a class="email-link" href="#email-{{ node }}">{{ node }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}

                  {% if not confirm_stage %}
                    <label class="custom-checkbox-wrapper email-tree-checkbox-label">
                      <input type="checkbox"
                            class="email-tree-checkbox"
                            data-ids='{{ root.branch_ids|safe }}'
                            {% for node_id in root.branch_ids %}
                                {% if node_id|safe in selected_email_ids %}checked{% endif %}
                            {% endfor %}>
                      <i class="bx bx-check check-icon"></i>
                    </label>
                  {% endif %}
                </div>
              </div>

              <div class="email-tree-body hidden">
                {% include "incidents/includes/email_node.html" with node=root level=0 %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p class="empty">Писем пока нет</p>
        {% endif %}
      </div>

      {% include "incidents/includes/status_history.html" with incident=incident %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/incidents/hide_sections.js' %}"></script>
<script src="{% static 'js/incidents/email_root.js' %}"></script>
{% if not confirm_stage %}
  <script src="{% static 'js/incidents/sort_emails.js' %}"></script>
  <script>
    window.MOVE_EMAILS_CONFIG = {
      targetIncidentInputId: "{{ move_email_form.target_incident_code.id_for_label }}",
      idEmailIds: "{{ move_email_form.email_ids.id_for_label }}"
    };
  </script>
  <script src="{% static 'js/incidents/move_emails.js' %}"></script>
{% else %}
  <script src="{% static 'js/incidents/auto_open_emails_2_move.js' %}"></script>
{% endif %}
{% endblock %}