.schedule-header {
  text-align: center;
  font-size: var(--font-sm);
  color: var(--gray-color);
}

.schedule-form {
  padding: var(--space-md);
}

.form-section {
  margin-bottom: var(--space-xl);
}

.section-title {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: var(--font-md);
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--gray-color);
  padding-bottom: var(--space-xs);
}

.time-inputs {
  display: flex;
  gap: var(--space-xl);
  flex-wrap: wrap;
}

.input-group {
  flex: 1 1 calc(50% - var(--space-xl) / 2);
  min-width: 250px;
}

.input-label {
  display: block;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--gray-color);
  margin-bottom: var(--space-xs);
}

.input-wrapper {
  width: 100%;
  max-width: 100%;
}

.input-wrapper input[type="time"] {
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-sm);
  border: 1px solid var(--add-background-color);
  border-radius: var(--radius-md);
  background-color: var(--add-background-color);
  font-size: var(--font-md);
  color: var(--add-color);
  transition: border-color var(--transition-value), background-color var(--transition-value);
}

.input-wrapper input[type="time"]:focus {
  outline: none;
  border-color: var(--priority-color);
  background-color: var(--background-color);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: var(--space-xl);
}

.day-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.day-checkbox input[type="checkbox"] {
  display: none;
}

.day-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--add-background-color);
  border-radius: var(--radius-md);
  padding: var(--space-sm) var(--space-xs);
  width: 100%;
  transition: background-color var(--transition-value), transform var(--transition-value), color var(--transition-value);
  color: var(--gray-color);
}

.day-label:hover {
  transform: translateY(-1px);
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
  background-color: var(--background-color);
}

.day-checkbox input[type="checkbox"]:checked + .day-label {
  background-color: var(--priority-color);
  color: var(--add-color);
}

.day-name {
  font-size: var(--font-xs);
  font-weight: 400;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--space-xl);
  margin-top: var(--space-lg);
  width: 100%;
  margin: 0;
}

.btn {
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-sm);
  border-radius: var(--radius-md);
}

@media (max-width: 768px) {
  .time-inputs {
    flex-direction: column;
  }

  .days-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn {
    flex: 1 1 45%;
    justify-content: center;
  }
}