#search-bar {
  margin-left: calc(var(--sidebar-width) - 36px);
  transition: all var(--transition-value);
}

#search-bar.collapsed {
  margin-left: calc(var(--sidebar-collapsed-width) - 36px);
}

.header-search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 780px;
  border-radius: var(--radius-md);
  padding: var(--space-xs);
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
  transition: background-color var(--transition-value), box-shadow var(--transition-value);
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/search_bar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: 0;
}

.header-search > * {
  position: relative;
  z-index: 1;  /* чтобы текст и кнопки были поверх фона */
}

.header-search:focus-within {
  box-shadow: 0 0 var(--space-md) var(--extra-color);
}

.header-search input[type="text"] {
  flex: 1;
  border: none;
  padding: 0 var(--space-xs);
  margin: 0;
  border-radius: 0;
  font-size: var(--font-md);
  color: var(--color);
  min-width: 0;
  z-index: 2;
  transition: color var(--transition-value);
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.header-search input[type="text"]::placeholder {
  color: var(--gray-color);
}

.header-search input:focus {
  border: none;
  box-shadow: none;
}

.header-search button {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  font-size: var(--font-lg);
  color: inherit;
  cursor: pointer;
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-value), opacity var(--transition-value);
}

.header-search button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.header-search i {
  pointer-events: none; /* чтобы клик не попадал на иконку */
}


@media (max-width: 768px) {
  #search-bar {
    width: 100%;
    justify-content: center;
    order: 2;
    margin-left: 0;
  }

  .header-search {
    width: 100%;
    max-width: 100%;
    margin: var(--space-sm) 0;
  }
}
