.tooltip {
  cursor: pointer;
}

.tooltip-text {
  position: fixed;
  background-color: var(--add-background-color);
  color: var(--gray-color);
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  font-size: var(--font-xs);
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  /* Задержка через JS */
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 100;
  display: none;
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
}
