{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/emails/email_card.css' %}">
  <link rel="stylesheet" href="{% static 'css/emails/includes/files_preview.css' %}">
  <link rel="stylesheet" href="{% static 'css/emails/includes/attachments_section.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  {% include "emails/includes/emails_filter.html" %}

  <div class="emails-wrapper" id="emails-wrapper">

    {% for email in page_obj %}
      <div class="email-card">

        <div class="email-header">

          <!-- 1 строка -->
          <div class="email-row email-row-top">
            <div class="email-info">
              <div class="email-from">
                <strong>От:</strong> <span class="copy-text" data-text="{{ email.email_from }}">{{ email.email_from }}</span>
              </div>
              <div class="email-to">
                <strong>Кому:</strong>
                {% for to in email.email_msg_to.all %}
                {{ to.email_to }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
              {% if email.email_msg_cc.all %}
                <div class="email-to-cc">
                  <strong>Копия:</strong>
                  {% for cc in email.email_msg_cc.all %}
                  {{ cc.email_to }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="email-meta">
              <div class="email-date">{{ email.email_date|date:"d.m.Y H:i" }}</div>
              <div class="email-id">ID: {{ email.id }}</div>
            </div>
          </div>

          <!-- 2 строка -->
          <div class="email-row email-row-bottom">
            <div class="email-subject">
              {{ email.email_subject|default:"(без темы)" }}
            </div>
            {% if email.email_incident %}
              <a
                href="{% url 'incidents:incident_detail' email.email_incident.id %}"
                target="_blank"
                class="email-code {% if email.email_incident.is_incident_finish %}incident-closed{% else %}incident-open{% endif %}"
              >
                {{ email.email_incident }}
              </a>
            {% endif %}
          </div>
        </div>

        <div class="email-body hidden">
          <div class="email-body-content">
            {{ email.email_body|linebreaksbr|default:"(пустое письмо)" }}
          </div>
          {% include "emails/includes/email_attachments_preview.html" %}
        </div>

      </div>

    {% empty %}
    <div class="email-card">
      <p class="empty">Нет данных</p>
    </div>
    {% endfor %}

    {% if page_obj.has_other_pages %}
      {% include "includes/paginator.html" %}
    {% endif %}

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/incidents/search_filter.js' %}"></script>
<script src="{% static 'js/emails/card_toggle.js' %}"></script>
{% endblock %}
