{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/emails/new_email/new_email.css' %}">
<link rel="stylesheet" href="{% static 'css/emails/new_email/previous_email.css' %}">
<link rel="stylesheet" href="{% static 'css/emails/new_email/text_area.css' %}">
<link rel="stylesheet" href="{% static 'css/includes/files_input.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-header email-header">
      <div class="header-text">
        <h2 class="email-title">
          {% if email_header %}
            {{ email_header }}
          {% elif reply_to_email %}
            Ответ на письмо
            <span class="copy-text" data-text="{{ reply_to_email.id }}">
              {{ reply_to_email.id }}
            </span>
            по инциденту
          {% else %}
            Создание нового письма по инциденту
          {% endif %}
          <span class="incident-code copy-text" data-text="{{ incident.code|default:incident.id }}">
            {{ incident.code|default:incident.id }}
          </span>
        </h2>
      </div>
    </div>
    <div class="card-body email-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="{{ form.to.id_for_label }}">Кому:</label>
          <div class="form-control-wrapper">
            {{ form.to }}
            {% for error in form.to.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <label for="{{ form.cc.id_for_label }}">Копия:</label>
          <div class="form-control-wrapper">
            {{ form.cc }}
            {% for error in form.cc.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          <label for="{{ form.subject.id_for_label }}">Тема:</label>
          <div class="form-control-wrapper">
            {{ form.subject }}
            {% for error in form.subject.errors %}
              <div class="form-error">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <div class="form-group">
          {{ form.body }}
          {% for error in form.body.errors %}
            <div class="form-error">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="form-group file-uploader">
          <label class="file-uploader-label tooltip" data-title="Выберите или перетащите файлы" for="id_attachments">
            <span class="file-uploader-text">Выбрать файлы</span>
            <span class="file-uploader-count">Файлы не выбраны</span>
          </label>
          {{ form.attachments }}
          <ul class="file-list"></ul>
        </div>

        {% if previous_html %}
        <div class="previous-email">
            <div class="previous-email-header">Предыдущее письмо:</div>
            <div class="previous-email-content">
                {{ previous_html|safe }}
            </div>
        </div>
        {% endif %}

        <div class="form-actions">
          <a href="{% url 'incidents:incident_detail' incident_id=incident.id %}" class="btn btn-secondary">Отмена</a>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/download_files.js' %}"></script>
{% endblock %}
