.custom-checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 18px;
  height: 18px;
  transition: color var(--transition-value);
}

.custom-checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.custom-checkbox-wrapper .check-icon {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-value);
  color: var(--green-color);
  font-size: var(--font-sm);
  pointer-events: none;
  z-index: 1;
}

.custom-checkbox-wrapper input[type="checkbox"]:checked + .check-icon {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-color);
  border-radius: var(--radius-sm);
  background-color: var(--background-color);
  transition: all var(--transition-value);
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 0;
  box-shadow: 0 0 0 var(--extra-color);
}

.custom-checkbox-wrapper:hover::before {
  box-shadow: 0 0 var(--space-sm) var(--extra-color);
}
