.custom-checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 22px;
  height: 22px;
}

.custom-checkbox-wrapper input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
}

.custom-checkbox-wrapper .check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-value);
  color: white;
  font-size: 16px;
  pointer-events: none;
  z-index: 1;
}

/* Показываем галочку при выборе */
.custom-checkbox-wrapper input[type="checkbox"]:checked + .check-icon {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--gray-color);
  border-radius: var(--radius-sm);
  background-color: var(--background-color);
  transition: all var(--transition-value);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.custom-checkbox-wrapper:hover::before {
  border-color: var(--blue-color);
}

.custom-checkbox-wrapper input[type="checkbox"]:checked::before {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
