.copy-text {
  cursor: pointer;
  transition: all var(--transition-value);
}

.copy-text:hover {
  text-decoration-line: underline;
}

.copy-text:active {
  color: var(--extra-color);
  transform: scale(0.999);
}
