/* Ошибки в карточках */
.error-message {
  margin: var(--space-xl) auto;
  font-size: var(--space-md);
  line-height: 1.5;
  color: var(--red-color);
}

/* Ошибки в формах */
.error {
  width: 100%;
  margin: var(--space-sm) auto 0;
  color: var(--add-color);
  background-color: var(--red-color);
  margin-top: var(--space-sm);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  font-weight: 600;
  animation: fadeIn var(--transition-value);
  box-shadow: 0 var(--space-md) var(--space-xl) var(--extra-color);
  min-height: var(--space-xl);
  display: flex;
  align-items: center;
  text-align: center;
}

.container-sm .error {
    max-width: 320px;
}

.form-errors {
  margin: var(--space-md) auto;
  max-width: 760px;
  background-color: var(--red-color);
  color: var(--add-color);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  box-shadow: 0 var(--space-xs) var(--space-sm) var(--extra-color);
  animation: fadeIn 0.4s ease-in-out;
  font-size: var(--font-md);
  line-height: 1.5;
}

.container-sm .form-error {
   max-width: 500px;
}

.form-errors ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form-errors li::before {
  content: '⚠ ';
  margin-right: var(--space-sm);
  color: inherit;
}

.help-text {
  font-size: var(--font-xs);
}
