footer {
  width: 100%;
  position: relative;
  z-index: 10;
  background: linear-gradient(
    320deg,
    var(--add-background-color) 0%,
    var(--background-color) 100%
  );
  margin-top: auto;
  box-shadow: 0 var(--space-xs) var(--space-md)var(--extra-color);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding-block: var(--space-lg);
}

.footer-container .logo a {
  font-size: var(--space-lg);
  font-weight: bold;
  margin: 0;
  color: var(--priority-color);
  text-decoration: none;
  opacity: 0.8;
  transition: color var(--transition-value), opacity var(--transition-value);
}

.footer-container .logo a:hover {
  opacity: 1;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-lg);
}

.footer-nav li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-md);
  transition: color var(--transition-value);
}

.footer-nav li a i {
  font-size: var(--font-lg);
  margin-bottom: var(--space-xs);
}

.footer-nav li a:hover,
.footer-nav li a.active {
  color: var(--priority-color);
}

.footer-container .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-sm);
}

#scroll-to-top {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.bottom a {
  margin-bottom: var(--space-lg);
  vertical-align: 0;
  line-height: 1;
  color: var(--gray-color);
  text-decoration: none;
  border-bottom: 1px solid var(--gray-color);
  opacity: 0.8;
  transition: color var(--transition-value), border-color var(--transition-value), opacity var(--transition-value);
}

.bottom a:hover,
.bottom a:focus {
  color: var(--red-color);
  border-color: var(--red-color);
  opacity: 1;
}

@media (max-width: 768px) {
  .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }
}