::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--add-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-color);
    border-radius: var(--radius-xs);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--extra-color);
}

/* Стрелки в начале и конце */
::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--add-background-color);
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Левая стрелка */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='6,1 2,4 6,7' fill='dark'/></svg>");
}

/* Правая стрелка */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='2,1 6,4 2,7' fill='dark'/></svg>");
}

/* Вертикальные стрелки */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='1,6 4,2 7,6' fill='dark'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='1,2 4,6 7,2' fill='dark'/></svg>");
}

body.dark::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='6,1 2,4 6,7' fill='white'/></svg>");
}

body.dark::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='2,1 6,4 2,7' fill='white'/></svg>");
}

body.dark::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='1,6 4,2 7,6' fill='white'/></svg>");
}

body.dark::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><polygon points='1,2 4,6 7,2' fill='white'/></svg>");
}