::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--add-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--extra-color);
  border-radius: var(--radius-xs);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-color)
}

/* Стрелки в начале и конце */
::-webkit-scrollbar-button {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--add-background-color);
  background-size: 12px; /* Размер стрелки */
  background-repeat: no-repeat;
  background-position: center;
}

/* Горизонтальные стрелки */
html.light ::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14 7l-5 5 5 5z'/></svg>");
}
html.light ::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 7l5 5-5 5z'/></svg>");
}

/* Вертикальные стрелки */
html.light ::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 14l5-5 5 5z'/></svg>");
}
html.light ::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
}

/* Тёмная тема — стрелки белые */
html.dark ::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14 7l-5 5 5 5z'/></svg>");
}
html.dark ::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10 7l5 5-5 5z'/></svg>");
}

html.dark ::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 14l5-5 5 5z'/></svg>");
}
html.dark ::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
}