#search-bar {
  margin-left: calc(var(--sidebar-width) - 36px);
  transition: all var(--transition-value);
}

#search-bar.collapsed {
  margin-left: calc(var(--sidebar-collapsed-width) - 36px);
}

.header-search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 780px;
  background-color: var(--add-background-color);
  border-radius: var(--radius-md);
  padding: var(--space-xs) var(--space-sm);
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
  transition: background-color var(--transition-value);
  position: relative;
}

.header-search:focus-within {
  box-shadow: 0 0 var(--space-sm) var(--extra-color);
}

.header-search input[type="text"] {
  flex: 1;
  border: none;
  background: transparent;
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-md);
  color: var(--color);
  min-width: 0;
  z-index: 2;
  transition: color var(--transition-value);
}

.header-search input[type="text"]::placeholder {
  color: var(--gray-color);
}

.header-search input:focus {
  outline: none;
}

.header-search button {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  font-size: var(--font-lg);
  color: inherit;
  cursor: pointer;
  padding: var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-value), opacity var(--transition-value);
}

.header-search button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.header-search i {
  pointer-events: none; /* чтобы клик не попадал на иконку */
}


@media (max-width: 768px) {
  #search-bar {
    width: 100%;
    justify-content: center;
    order: 2;
    margin-left: 0;
  }

  .header-search {
    width: 100%;
    max-width: 100%;
    margin: var(--space-sm) 0;
  }
}
