.column-select-wrapper {
  position: relative;
  max-width: 200px;
}

.column-select-trigger {
  font-size: var(--font-sm);
  padding: var(--space-sm);
  padding-right: calc(var(--space-sm) * 4);
  border-radius: var(--radius-md);
  background-color: var(--add-background-color);
  cursor: pointer;
  color: var(--add-color);
  border: 1px solid var(--extra-color);

  /* Убираем стандартную стрелку */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.column-select-wrapper::after {
  content: "▼";
  position: absolute;
  right: var(--space-sm);
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: var(--font-md);
  color: var(--gray-color);
}

.column-select-trigger:hover {
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
}

.column-select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: var(--add-background-color);
  border: 1px solid var(--extra-color);
  z-index: 10;
  display: none;
}

.column-option {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  cursor: pointer;
  color: var(--add-color);
  font-size: var(--font-sm);
  padding: var(--space-xs) var(--space-sm);
  transition: background-color var(--transition-value), color var(--transition-value);
}

.column-option:hover {
  background-color: var(--blue-color);
  color: var(--color);
}

.column-option i {
  font-size: var(--font-md);
}

.column-option input {
  display: none;
}

.bx-x {
  color: var(--gray-color);
}

.bx-check {
  color: var(--green-color);
}
