.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--background-color);
  transition: background-color var(--transition-value);
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table thead {
  color: var(--color);
  text-align: left;
  transition: color var(--transition-value);
}

.custom-table th {
  padding: var(--space-sm) var(--space-sm);
  font-weight: 500;
  white-space: nowrap;
  border-bottom: 1.5px solid var(--gray-color);
  user-select: none;
  transition: border-color var(--transition-value);
}

.custom-table td {
  padding: var(--space-sm);
  margin-right: var(--space-xs);
  border-bottom: 1px solid var(--add-background-color);
  vertical-align: middle;
  color: var(--add-color);
  transition: color var(--transition-value), border-color var(--transition-value);
}

.custom-table tbody tr:hover td {
  border-color: var(--gray-color);
}

.custom-table td:hover {
  color: var(--color) !important;
}

.custom-table tbody tr:hover {
  background-color: var(--add-background-color);
  transition: background-color var(--transition-value);
}

.custom-table tbody tr:last-child td {
  border-bottom: none;
}

.link {
  color: var(--add-color);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.status-badge {
  display: inline-block;
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-sm);
  font-weight: 500;
  border-radius: var(--radius-sm);
  color: var(--background-color);
  text-align: center;
  align-items: center;
  min-width: 160px;
  max-width: 160px;
  transition: background-color var(--transition-value), color var(--transition-value);
}

.custom-table td.empty {
    padding: var(--space-md) 0;
    font-weight: 500;
}

@media (max-width: 768px) {
  .status-badge {
    min-width: 100px;
    max-width: 100px;
  }
}