.tooltip {
  cursor: pointer;
}

/* --- Тултип (Всплывающая подсказка) --- */
.tooltip-text {
    position: absolute;
    z-index: 100;
    padding: var(--space-xs) var(--space-sm);
    background-color: var(--color); /* Темный фон текста */
    color: var(--background-color); /* Светлый текст */
    font-size: var(--font-xs);
    font-weight: 500;
    border-radius: var(--radius-sm);
    white-space: nowrap;
    box-shadow: 0 0 var(--space-xs) var(--extra-color);
    pointer-events: none; /* Чтобы не перекрывал клики, пока скрыт */
    
    /* Начальное состояние для анимации */
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
    transition: opacity var(--transition-value), transform var(--transition-value);
}

/* Класс, который добавляется JS для показа */
.tooltip-text[style*="display: block"] {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}