{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/table_filter.css' %}">
{% endblock %}

<form method="get" class="table-filter-form" id="filter-form">
  <div class="left-part">
    <div class="multiple-select-wrapper" id="role-select">
      <div class="dropdown-trigger" data-filter-name="Роль">
        <span class="selected-label">Роль</span>
        <span class="arrow-icon">▼</span>
      </div>

      <div class="dropdown-menu" id="role-dropdown-menu">
        <div class="dropdown-options">
          {% for r in roles %}
            <label class="option-item {% if r in selected.role %}is-selected{% endif %}" 
                   data-value="{{ r }}">
              <i class="bx bx-check"></i>
              <span>{{ r.label }}</span>
            </label>
          {% endfor %}
        </div>
      </div>

      <select name="role" id="role-select-hidden" style="display: none;" multiple>
        {% for r in roles %}
          <option value="{{ r }}" {% if r in selected.role %}selected{% endif %}></option>
        {% endfor %}
      </select>
    </div>

    <div class="multiple-select-wrapper" id="online-select">
      <div class="dropdown-trigger" data-filter-name="Статус">
        <span class="selected-label">Статус</span>
        <span class="arrow-icon">▼</span>
      </div>

      <div class="dropdown-menu" id="online-dropdown-menu">
        <div class="dropdown-options">
          <label class="option-item {% if 'true' in selected.online %}is-selected{% endif %}" 
                 data-value="true">
            <i class="bx bx-check"></i>
            <span>Онлайн</span>
          </label>

          <label class="option-item {% if 'false' in selected.online %}is-selected{% endif %}" 
                 data-value="false">
            <i class="bx bx-check"></i>
            <span>Офлайн</span>
          </label>
        </div>
      </div>

      <select name="online" id="online-select-hidden" style="display: none;" multiple>
        <option value="true" 
                {% if 'true' in selected.online %}selected{% endif %}>
        </option>
        <option value="false" 
                {% if 'false' in selected.online %}selected{% endif %}>
        </option>
      </select>
    </div>

  </div>
    
  <div class="right-parts">
    <div class="select-wrapper">
      <select name="per_page" id="per-page" class="select tooltip" data-title="Кол-во пользователей на странице">
        {% for size in page_size_choices %}
        <option value="{{ size }}" {% if selected.per_page == size %}selected{% endif %}>Показать: {{ size }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="button" id="reset-filters" class="btn btn-secondary tooltip" data-title="Сбросить фильтры">
      <i class="bx bx-x-circle"></i>
    </button>
    {% if selected.sort == "asc" %}
    <button type="button" class="btn btn-secondary sort-users-btn tooltip" data-sort="desc" data-param="sort_users" data-cookie="sort_users" data-title="По алфавиту: от Я до А">
      <i class='bx bx-chevrons-down'></i>
    </button>
    {% else %}
    <button type="button" class="btn btn-secondary sort-users-btn tooltip" data-sort="asc" data-param="sort_users" data-cookie="sort_users" data-title="По алфавиту: от А до Я">
      <i class='bx bx-chevrons-up'></i>
    </button>
    {% endif %}
    <button type="submit" class="btn btn-primary tooltip" data-title="Применить фильтр">
      <i class="bx bx-filter"></i>
    </button>
  </div>

  <input type="hidden" name="q" value="{{ search_query }}" id="filter-hidden-q">

</form>

{% block extra_js %}
<script>
    const filtersConfig = [
        { id: 'role-select-hidden', cookieName: 'role', searchFieldName: 'role', type: 'multi_select' },
        { id: 'online-select-hidden', cookieName: 'online', searchFieldName: 'online', type: 'multi_select' },
        { id: 'per-page', cookieName: 'per_page_users', searchFieldName: 'per_page', type: 'single_select', skipOnReset: true },
    ];
</script>
<script src="{% static 'js/universal_filters.js' %}"></script>
<script src="{% static 'js/sort_table.js' %}"></script>
<script src="{% static 'js/multiple_select.js' %}"></script>
{% endblock %}