.card-header,
.card-body {
    border-left: var(--space-xs) solid var(--priority-color);
}

.appeal-card .card-header,
.appeal-card .card-body {
    border-left: var(--space-xs) solid var(--red-color);
}

.claim-header,
.appeal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.claim-status,
.appeal-status {
    font-size: var(--font-sm);
    padding: var(--space-xxs) var(--space-sm);
    border-radius: var(--radius-sm);
    color: var(--add-background-color);
    font-weight: 500;
}

.claim-status {
    background-color: var(--priority-color);
}

.appeal-status {
    background-color: var(--red-color);
}
