{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/includes/table_filter.css' %}">
<link rel="stylesheet" href="{% static 'css/stats/stats_filter.css' %}">
<link rel="stylesheet" href="{% static 'css/stats/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/stats/charts.css' %}">
<link rel="stylesheet" href="{% static 'css/stats/donuts.css' %}">
<link rel="stylesheet" href="{% static 'css/stats/collapse_charts.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-filter-form">
    <div class="left-part">
      <div>
        <div class="input-group">
          <label for="start-date" class="input-label">Начало периода:</label>
          <div class="input-wrapper">
            <input type="date" id="start-date" max="{{ today|date:'Y-m-d' }}">
          </div>
        </div>
      </div>
      
      <div>
        <div class="input-group">
          <label for="end-date" class="input-label">Конец периода:</label>
          <div class="input-wrapper">
            <input type="date" id="end-date" max="{{ today|date:'Y-m-d' }}">
          </div>
        </div>
      </div>
    </div>

    <div class="right-parts">
      <button type="button" id="reset-period" class="btn btn-secondary tooltip" data-title="Сбросить фильтры">
        <i class="bx bx-x-circle"></i>
      </button>
      <button type="submit" id="apply-period" class="btn btn-primary tooltip" data-title="Применить фильтр">
        <i class="bx bx-filter"></i>
      </button>
    </div>
  </div>

  <div class="stats">
    <div class="chart-card" id="daily-chart-card">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">Динамика по инцидентам</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
      <canvas id="daily-incidents-chart"></canvas>
    </div>

    <div class="chart-card" id="closed-chart-card">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">Закрытые инциденты</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
      <canvas id="all-closed-incidents-chart"></canvas>
    </div>

    <div class="chart-card" id="open-chart-card">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">Открытые инциденты</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
      <canvas id="all-open-incidents-chart"></canvas>
    </div>

    <div id="avr-sla-grid">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">SLA АВР</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
    </div>

    <div id="rvr-sla-grid">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">SLA РВР</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
    </div>

    <div id="dgu-sla-grid">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">ВРТ ДГУ</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
    </div>

    <div class="chart-card" id="types-chart-card">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">Классификации аварий</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
      <canvas id="types-incidents-chart"></canvas>
    </div>

    <div class="chart-card" id="energy-subtypes-chart-card">
      <div class="chart-utils">
        <button class="btn toggle-chart-btn">Распределение аварий по питанию</button>
        <button class="btn btn-secondary copy-chart-data-btn tooltip copy-text" data-title="Скопировать данные" data-text="">
          <i class="bx bx-copy"></i>
        </button>
      </div>
      <canvas id="energy-subtypes-incidents-chart"></canvas>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script src="{% static 'js/stats/collaps_charts.js' %}"></script>
<script type="module" src="{% static 'js/stats/init_skeleton_dashboard.js' %}"></script>
{% endblock %}
