{% extends "base.html" %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/users.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  {% include "users/includes/users_filter.html" %}

  <div class="card-grid">
    {% for user in page_obj %}
      <div class="user-card {% if user.work_schedule.is_working_now %}online{% else %}offline{% endif %}">       
        <div class="user-info">
          <p class="user-role">{{ user.get_role_display }}</p>
          <p class="user-name">{{ user.get_full_name|default:"Новый пользователь" }}</p>
          <p class="user-email copy-text" data-text={{ user.email }}>{{ user.email }}</p>
          <p class="user-schedule">
            <strong>График:</strong>
            {% if user.work_schedule.is_working %}
              {% if user.work_schedule.start_time == user.work_schedule.end_time %}
                Круглосуточно
              {% else %}
                {{ user.work_schedule.start_time }} – {{ user.work_schedule.end_time }}
              {% endif %}
              <br>
              <small>
                Рабочие дни:
                {% for day, work in user.work_schedule.get_fields.items %}
                  {% if work %}{{ day }} {% endif %}
                {% endfor %}
              </small>
            {% else %}
              Не работает
            {% endif %}
          </p>
        </div>

        <div class="user-right">
          <div class="user-avatar">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="Аватар">
            {% else %}
              <div class="avatar-placeholder">{{ user.username|first|upper }}</div>
            {% endif %}
          </div>
          <div class="user-actions">
            <a href="{% url 'users:user_detail' user.id %}" class="btn btn-secondary">
                Подробнее
            </a>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>

  {% if not page_obj %}
    <div class="card">
        <div class="card-body">
            <p class="card-text empty">Нет данных</p>
        </div>
    </div>
  {% endif %}

  {% if page_obj.has_other_pages %}
    {% include "includes/paginator.html" %}
  {% endif %}
</div>
{% endblock %}