{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/user_detail.css' %}">
{% endblock %}

{% block title %}
    {% if user_info.first_name and user_info.last_name %}
        {{ user_info.first_name }} {{ user_info.last_name }}
    {% else %}
        Новый пользователь
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <div class="user-detail-card">   
        <div class="user-info">
          <p><strong>Email: </strong><span class="user-email copy-text" data-text={{ user_info.email }}>{{ user_info.email }}</span></p>
          <p><strong>Дата рождения:</strong> {{ user_info.date_of_birth|default:"Не указана" }}</p>
    
          <p><strong>График работы:</strong>
          {% if user_info.work_schedule.is_working %}
            {% if user_info.work_schedule.start_time == user_info.work_schedule.end_time %}
              Круглосуточно
            {% else %}
              {{ user_info.work_schedule.start_time }} – {{ user_info.work_schedule.end_time }}
            {% endif %}
            <p>
            <strong>Рабочие дни:</strong>
            <small>
              {% for day, work in user_info.work_schedule.get_fields.items %}
                  {% if work %}{{ day }} {% endif %}
              {% endfor %}
            </small>
            {% else %}
              Не работает
            {% endif %}
          </p>
    
          {% if request.user.is_staff or request.user.is_admin or request.user == user %}
            <a href="{% url 'users:work_schedule' user_info.id %}" class="btn btn-danger">Изменить расписание</a>
          {% endif %}
        </div>

        <div class="user-right">
          <div class="user-avatar">
            {% if user_info.get_avatar_url %}
                <img src="{{ user_info.get_avatar_url }}" alt="Аватар">
            {% else %}
                <div class="avatar-placeholder">{{ user_info.username|first|upper }}</div>
            {% endif %}
          </div>
          <p class="user-role">
            {% if user_info.first_name and user_info.last_name %}
                {{ user_info.get_role_display }} {{ user_info.first_name }} {{ user_info.last_name }}
            {% else %}
                Новый {{ user_info.get_role_display|lower }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
