{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/users/user_detail.css' %}">
{% endblock %}

{% block title %}
    {% if user.first_name and user.last_name %}
        {{ user.first_name }} {{ user.last_name }}
    {% else %}
        Новый пользователь
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-sm">
  <div class="card">
    <div class="card-body">
      <div class="user-detail-card">   
        <div class="user-info">
          <p><strong>Email: </strong><span class="user-email copy-text" data-text={{ user.email }}>{{ user.email }}</span></p>
          <p><strong>Дата рождения:</strong> {{ user.date_of_birth|default:"Не указана" }}</p>
    
          <p><strong>График работы:</strong>
          {% if user.work_schedule.is_working %}
            {% if user.work_schedule.start_time == user.work_schedule.end_time %}
              Круглосуточно
            {% else %}
              {{ user.work_schedule.start_time }} – {{ user.work_schedule.end_time }}
            {% endif %}
            <p>
            <strong>Рабочие дни:</strong>
            <small>
              {% for day, work in user.work_schedule.get_fields.items %}
                  {% if work %}{{ day }} {% endif %}
              {% endfor %}
            </small>
            {% else %}
              Не работает
            {% endif %}
          </p>
    
          {% if request.user.is_staff or request.user.is_admin or request.user == user %}
            <a href="{% url 'users:work_schedule' user.id %}" class="btn btn-danger">Изменить расписание</a>
          {% endif %}
        </div>

        <div class="user-right">
          <div class="user-avatar">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Аватар">
            {% else %}
                <div class="avatar-placeholder">{{ user.username|first|upper }}</div>
            {% endif %}
          </div>
          <p class="user-role">
            {% if user.first_name and user.last_name %}
                {{ user.get_role_display }} {{ user.first_name }} {{ user.last_name }}
            {% else %}
                Новый {{ user.get_role_display|lower }}
            {% endif %}
          </p>
        </div>
      </div>

      <div class="incident-stats">
        <h3>Статистика инцидентов</h3>
        <div class="stats-grid">
          <div class="stat-card stat-open">
            <p class="stat-title">Открытые</p>
            <p class="stat-value">{{ general_incidents_state.open_incidents }}</p>
          </div>

          <div class="stat-card stat-closed">
            <p class="stat-title">Закрытые</p>
            <p class="stat-value">{{ general_incidents_state.closed_incidents }}</p>
          </div>

          <div class="stat-card stat-week-open">
            <p class="stat-title">Открытые за 7 дн</p>
            <p class="stat-value">{{ general_incidents_state.open_last_period }}</p>
          </div>

          <div class="stat-card stat-week-closed">
            <p class="stat-title">Закрытые за 7 дн</p>
            <p class="stat-value">{{ general_incidents_state.closed_last_period }}</p>
          </div>

          <div class="stat-card stat-sla tooltip" data-title="Всего {{ sla_incidents_state.avr_total }}">
            <p class="stat-title">Вовремя закрытые АВР</p>
            <p class="stat-value" 
              style="
                {% if sla_incidents_state.avr_percent_on_time == 0 %}
                  color: var(--gray-color);
                {% elif sla_incidents_state.avr_percent_on_time >= 90 %}
                  color: var(--green-color);
                {% elif sla_incidents_state.avr_percent_on_time >= 70 %}
                  color: var(--blue-color);
                {% elif sla_incidents_state.avr_percent_on_time >= 50 %}
                  color: var(--yellow-color);
                {% else %}
                  color: var(--red-color);
                {% endif %}
              ">
              {{ sla_incidents_state.avr_percent_on_time }}%
            </p>
          </div>

          <div class="stat-card stat-sla tooltip" data-title="Всего {{ sla_incidents_state.rvr_total }}">
            <p class="stat-title">Вовремя закрытые РВР</p>
            <p class="stat-value" 
              style="
                {% if sla_incidents_state.rvr_percent_on_time == 0 %}
                  color: var(--gray-color);
                {% elif sla_incidents_state.rvr_percent_on_time >= 90 %}
                  color: var(--green-color);
                {% elif sla_incidents_state.rvr_percent_on_time >= 70 %}
                  color: var(--blue-color);
                {% elif sla_incidents_state.rvr_percent_on_time >= 50 %}
                  color: var(--yellow-color);
                {% else %}
                  color: var(--red-color);
                {% endif %}
              ">
              {{ sla_incidents_state.rvr_percent_on_time }}%
            </p>
          </div>

          <div class="stat-card stat-sla tooltip" data-title="Всего {{ sla_incidents_state.dgu_total }}">
            <p class="stat-title">Вовремя закрытые ДГУ</p>
            <p class="stat-value" 
              style="
                {% if sla_incidents_state.dgu_percent_on_time == 0 %}
                  color: var(--gray-color);
                {% elif sla_incidents_state.dgu_percent_on_time >= 90 %}
                  color: var(--green-color);
                {% elif sla_incidents_state.dgu_percent_on_time >= 70 %}
                  color: var(--blue-color);
                {% elif sla_incidents_state.dgu_percent_on_time >= 50 %}
                  color: var(--yellow-color);
                {% else %}
                  color: var(--red-color);
                {% endif %}
              ">
              {{ sla_incidents_state.dgu_percent_on_time }}%
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
