.link-type select{
  color: var(--add-color) !important;
  font-weight: 100 !important;
  font-size: var(--font-sm) !important;
}

.status-badge {
  min-height: auto;
}

.delete-icon {
  color: var(--red-color) !important;
}

.link-table .category span {
  font-weight: 450;
}

.link-table .avr-category, .default-category {
  color: var(--color);
}

.link-table .rvr-category {
  color: var(--green-color);
}

.link-table .dgu-category {
  color: var(--red-color);
}
