.emails-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.email-card {
  background-color: var(--background-color);
  border-radius: var(--radius-lg);
  padding: var(--space-sm) var(--space-md);
  box-shadow: 0 0 var(--space-xs) var(--extra-color);
  border: 0.5px solid var(--extra-color);
  transition: box-shadow var(--transition-value), transform var(--transition-value);
}

.inbox-email {
  border-left: var(--space-xs) solid var(--priority-color);
}

.sent-email {
  border-left: var(--space-xs) solid var(--red-color);
}

.email-card:hover {
  box-shadow: 0 0 var(--space-sm) var(--extra-color);
}

.email-row-bottom[data-email-toggle] {
  cursor: pointer;
  padding: var(--space-xs) 0;
}

.email-header {
  position: relative;
  margin-bottom: var(--space-xs);
}

.email-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-row-top {
  font-size: var(--font-sm);
}

.email-meta,
.email-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.email-info {
  font-size: var(--font-sm);
}

.email-info strong {
  font-weight: 600;
}

.email-to-cc {
  color: var(--add-color);
}

.email-meta {
  justify-content: flex-end;
  text-align: right;
  color: var(--gray-color);
  font-size: var(--font-xs);
}

.email-row-bottom {
  margin-top: var(--space-sm);
  cursor: pointer;
  padding-block: var(--space-xs);
  border-bottom: 1px dashed var(--extra-color);
  transition: border-color var(--transition-value), background-color var(--transition-value);
}

.email-row-bottom:hover {
  background-color: var(--add-background-color);
  border-color: var(--gray-color);
}

.email-card.open .email-row-bottom {
  background-color: var(--add-background-color);
  border-color: var(--gray-color);
}

.email-subject {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--color);
}

.email-code {
  font-size: var(--font-sm);
  text-decoration: none;
  font-weight: 500;
}

.email-code:hover {
  text-decoration: underline;
}

.incident-open {
  color: var(--priority-color);
}

.incident-closed {
  color: var(--gray-color);
}

.email-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height var(--transition-value), opacity var(--transition-value), padding var(--transition-value);
  padding-top: 0;
  padding-bottom: 0;
}

.email-body-content {
  font-size: var(--font-sm);
  color: var(--add-color);
  line-height: 1.6;
  margin-block: var(--space-lg);
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: normal;
  max-height: 400px;
  overflow-y: auto;
  padding-right: var(--space-xs);
}

@media (max-width: 768px) {
  .email-body-content {
    max-height: none;
    overflow-y: visible;
    padding-right: 0;
  }
}