main .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-md);
  margin-bottom: var(--space-md);
}

main .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  gap: var(--font-md);
}

main .card-title {
  font-size: var(--font-md);
  font-weight: 600;
  word-break: break-word;
  margin: 0;
}

main .add-button-wrapper {
  display: flex;
  justify-content: right;
  margin-top: var(--space-md);
}

main .btn-group {
  display: flex;
  gap: var(--space-sm);
}
