.user-filter-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: var(--space-lg);
}

.filter-wrapper {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.user-filter-form .select-wrapper {
  max-width: 140px;
}

.user-filter-form .btn {
  border-radius: var(--radius-md);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-md);
}
